[2016-10-06 09:47] 3rror404 opened #1 "How to build the sample app?"
I've followed the instructions in the readme and the `nativescript-camera-*.tgz` is created. How do I now run the demo app?

I've tried:

[code]

but this gives me the following error:

[code]

Am I missing some plugins?
Thanks

[2016-10-07 08:25] nsndeck commented on #1
Hi @3rror404

I've just published `nativescript-camera` plugin to npm. I also updated CameraTest's application package.json file and after delete `node_modules` and `platforms` folders you should be able to run the app.

New steps:

git pull
rm -rf node_modules/ platforms/
tns run ios (android)

[2016-10-07 08:54] 3rror404 commented on #1
Working. Thanks!

[2016-10-07 08:54] #1 closed, assigned to nobody

[2016-10-10 10:00] 3rror404 opened #3 "Saving image to file system"
I'm having problems saving the image taken with the camera to the file system.

The following test works. I'm able to create an imageSource from a local resource and save it to the file system:

[code]

Yet doing the same thing with the image returned from the camera plugin fails silently at `saveToFile()`:

[code]

Am I doing something incorrectly?

[code]

[2016-10-10 11:36] NickIliev commented on #3
Hey @3rror404

This issue appears to be reproducible when testing on iOS simulator but the camera module works as expected in real device. We are working on a fix for the simulator and will update the info [here](https://github.com/NativeScript/NativeScript/issues/2871)..

Closing as duplicate to [https://github.com/NativeScript/NativeScript/issues/2871#issuecomment-252599280](https://github.com/N

[2016-10-10 12:33] #3 closed, assigned to nobody

[2016-10-12 21:20] ShawnPavel opened #5 "Cannot find image-asset module"
I'm attempting to test this on an Android device with NativeScript Angular. I get the following error:

[code]

I installed the plugin using the `tns plugin install nativescript-camera` as described in the [src\README.md](https://github.com/NativeScript/nativescript-camera/blob/master/src/README.md).
I didn't see in the example project where this module was included. Is `image-assset` perhaps not

[2016-10-13 14:47] ShawnPavel commented on #5
I figured it out! After removing the node_modules, and platforms I did a `tns init`, `tns install` and voila.

[2016-10-13 14:47] #5 closed, assigned to nobody

[2016-10-19 13:47] ignaciolarranaga opened #7 "Image custom size is not working"
I changed the code of the CameraTest in this way:

[code]

which should produce an square image, but says: `CONSOLE LOG file:///app/main-page.js:25:24: Size: 375x667`

and here is how it looks:

![simulator screen shot oct 19 2016 10 41 03](https://cloud.githubusercontent.com/assets/15932965/19521284/70737eae-95e9-11e6-9b58-3d3e3cc9c75d.png)

[2016-10-19 23:59] ignaciolarranaga opened #8 "The plugin has a problem with webpack"
When I introduce webpack on my project it raises an exception on webpack execution:

[code]

Here is a section of the webpack bundle:

[code]

Removing "use strict"; seems to solve the problem as per @hdeshev on here NativeScript/nativescript-geolocation#32, but this is not the underlying problem I guess.

The sample problem arose also:
- https://github.com/NativeScript/nativescript-geolocation/is

[2016-10-21 13:12] ignaciolarranaga opened #10 "The plugin does not work on the device (IPhone 6 / IOS10)"
I have the same application running on emulator and the device, and the photo library is not opening on the device (I do the same on the emulator and it does open).

It does show a message in the console:
"NativeScript loaded bundle file:///System/Library/Frameworks/Photos.framework"
but nothing happens.

I noticed it happens even if you just request the permissions, the application just hangs at

[2016-10-22 08:38] ignaciolarranaga commented on #10
I noticed also that when I opened the CamaraTest app at the device and the emulator (same OS = iOS 10 / same Phone = IPhone6) it does different things, here are the 2 screenshots, in 1 case it opens the photo library, in the other, it does open the camera app.

Real device:
![real_phone_screenshot](https://cloud.githubusercontent.com/assets/15932965/19618182/77f99e38-9819-11e6-8c1a-34a1cd3a7472.jp

[2016-10-22 09:19] ignaciolarranaga opened #11 "The application crash at moving to video"
I ran the CamaraTest sample provided directly with XCode and this is the problem:

NativeScript loaded bundle file:///System/Library/Frameworks/UIKit.framework
NativeScript loaded bundle file:///System/Library/Frameworks/Foundation.framework
NativeScript loaded bundle file:///System/Library/Frameworks/QuartzCore.framework
NativeScript loaded bundle file:///System/Library/Frameworks/AVFoundation.fr

[2016-10-22 10:57] ignaciolarranaga opened #14 "The plugin does not allow to control where to pick the pictures (camera, library, etc.)"
I noticed that when I opened the CamaraTest app at the device and the emulator (same OS = iOS 10 / same Phone = IPhone6) it does different things, here are the 2 screenshots, in 1 case it opens the photo library, in the other, it does open the camera app.

In iOS this is because it is switching automatically the UIImagePickerControllerSourceType, no so familiar with the same on Android

Real devic

[2016-10-22 11:49] ignaciolarranaga opened #16 "The permissions are not correctly added to the Info.plist"
I don't know why, but the permissions requested are not automatically added to the application generated. I mean, the plugins infrastructure is supposed to add the permissions requested by the plugin.

I'm using
- tns-core-modules@2.5.0-2016-10-21-4514
- tns-core-modules-widgets@2.5.0-2016-10-20-133

Steps to reproduce in the TestCamera app:
1) Remove everything (rm -rf node_modules/ lib/ hooks/ p

[2016-10-22 11:55] ignaciolarranaga commented on #16
Hi @enchev just in case, is something related to this also happening at other plugins ?, seems not to be a problem of this plugin specifically.

[2016-10-24 11:02] nsndeck commented on #10
Hi @ignaciolarranaga,

I've tried to replicate the problem with iPhone 6 / iOS 10 device, unfortunately to no avail.
Could you please try it with latest `tns-core-modules`?

[2016-10-24 11:08] nsndeck commented on #14
On iOS simulator this is an expected behavior. The idea is to select an image and test with it. On Android some emulators do have support for camera (either use PC camera or select an image from file system (configured on simulator)).

[2016-10-24 11:08] #14 closed, assigned to nobody

[2016-10-24 11:19] ignaciolarranaga commented on #10
I detected it was because the tns prepare for some extrange reason was not populating the permissions on the app (i.e. adding them to Info.plist). Will close this in favor of #16

[2016-10-24 11:19] #10 closed, assigned to nobody

[2016-10-24 11:24] ignaciolarranaga commented on #14
Thanks @nsndeck, any way I raised a pull request to support this on iOS. I think it is a good feature.

The problem is when you want to pick a picture from your library.

In my context for example, I want the user to select some image from his library (it would be the most probable scenario). As the plugin is right now this is impossible, since when the camera opens the access to the library is no

[2016-10-24 12:50] developper89 opened #18 "Put mediaTypes as an option"
Hi, I had some trouble removing the video option in the camera view
what i did was to set the mediatypes array to
`imagePickerController.mediaTypes = [mediaTypes[0]];`
It would be better to pass the type as an option like `"public.image" or "public.movie"`
and choose between them to enable or disable the photo or video option in the view
Could you add the mediaTypes array as an option or make it s

[2016-10-25 07:54] nsndeck commented on #18
Hi @developper89,

We will add such functionality once we are ready to support it. We have plans to improve this plugin to support also video. Unfortunately I cannot commit with an exact time frame when this will be ready, but we will work on it soon.

[2016-10-25 08:18] nsndeck commented on #11
I've just updated `nativescript-camera` plugin version to 0.0.6 which includes fix for this.

[2016-10-25 08:18] #11 closed, assigned to nobody

[2016-10-31 13:03] nsndeck commented on #16
Fixed with commit #20. The problem was that creating plugin from included scripts on mac this results in a wrong directory structure `plugin/ios/Info.plist` instead `plugin/platforms/ios/Info.plist`.

Also will update nativescript-cli in order to print more info about info.plist merging process.

[2016-10-31 13:03] #16 closed, assigned to nobody

[2016-10-31 13:20] nsndeck commented on #8
I'm closing this since the plug-in is now working well with webpack. I've added an example that uses also`nativescript-angular` and `nativescript-dev-webpack` plugins.

[2016-10-31 13:20] #8 closed, assigned to nobody

[2016-12-18 02:18] narayananl23 opened #22 "ios takepicture twice errors"
When takepicture is called for the second time, it errors.

Error happens only in iPhone 6 10.2, works fine in android.

My environment

My code
[code]

Error
[code]

[2016-12-18 02:25] narayananl23 commented on #22
It can be closed or needs a fix. but found the issue because The demo works fine :)

My code was missing options, once I added options no issues.

from
 `cameraModule.takePicture().then(imageAsset => {`
to
` cameraModule.takePicture(options).then(imageAsset => {`

[2016-12-19 13:26] tsonevn commented on #22
Hi @narayananl23,

I tested the given case with the [example ](https://github.com/NativeScript/nativescript-camera/tree/master/examples/CameraTest) with options and without options, however was unable to reproduce such an issue. It could be something related with the project. If you have further problem with the camera plugin, you could open a new one.

Regards,
@tsonevn

[2016-12-19 13:26] #22 closed, assigned to nobody

[2016-12-22 12:00] fsciuti commented on #18
Hello...news about this fix? :)

[2016-12-22 12:02] valentinstoychev commented on #18
It is scheduled for our next release - 2.5.0 - https://github.com/NativeScript/NativeScript/issues/3241

[2016-12-22 12:07] fsciuti commented on #18
Thanks!!!! :)

[2016-12-26 20:48] kinggolf opened #23 "Camera takePicture hangs after using nativescript-imagepicker, w/ saveToGallery: true"
Using nativescript-camera and [nativescript-imagepicker](https://github.com/NativeScript/nativescript-imagepicker) in same app, so maybe this issue should be posted to imagepicker module(??). Both modules work independent of each other, however, under specific conditions the camera module seems to hang with no error message, testing so far only on iOS & using NG2.

Hanging condition sequence -
1)

[2017-01-04 16:04] tsonevn commented on #23
Hi @kinggolf,

I reviewed your scenario and created sample project. However I was unable to reproduce this case. I tested it on iOS simulator and real device.
You could review the sample project [here](https://github.com/tsonevn/NGImagePickerCamera).
It would help if you could give us some more info about the problem and to send us sample project, where the problem could be debugged locally.

I lo

[2017-01-06 03:07] kinggolf commented on #23
Thank you @tsonevn, I appreciate your time and response.
I cloned the sample project you provided and I confirm that works as expected.
Then I updated to my project's latest package.json & the app still worked as expected.
[code]

I made these following changes to be more similar to my own app:
app.component.html:
[code]

app.component.ts (updates surrounded by **, tried to make bold...):
[code]

[2017-01-06 13:32] tsonevn commented on #23
Hi @kinggolf,

I was able to reproduce the problem with displaying the image on the screen and setting the new `ImageSource`, while binding the src property of the `Image`.  However I am still unable to reproduce the problem with image saving. I tested the problem on device with `iOS 9.3` and Simulator with `iOS 10`. Could you provide some more info about the device, which you are using for testin

[2017-01-07 05:39] kinggolf commented on #23
Hi @tsonevn,
I am testing on an iPhone6S, iOS 10.2.

In my actual application, I am adding either the taken photo from camera or selected photo from camera roll to an ObservableArray of Image-Source objects, i.e. I am not displaying a single image, but rather a collection of images via RadListView, so displaying a single image by 'getViewById' is not an option. Additionally, I am converting the se

[2017-01-09 14:06] tsonevn commented on #23
Hi @kinggolf,
In the meantime as a temporary solution, while we are researching the problem with data binding,  you could try to refresh the ListView just after you receive the ImageAsset for  new taken photo. You could review the below-given example.

app.component.html

[code]

app.component.ts

[code]

[2017-01-12 12:34] tsonevn commented on #23
Hi @kinggolf,

We research this problem and found that the problem has been related with the time the image has been pushed to the array. In your case the image has been pushed before it has been loaded in the memory and this is causing the problem.

The solution for this scenario is to use `getImageAsync` ImageAsset method, which will return native Image, when the picture has been loaded, which y

[2017-01-13 04:59] kinggolf commented on #23
@tsonevn Yes, this works! Thank you very much!!
I had been trying to understand how/where to use image-asset in iOS, and this helps make sense of it.
BTW - there is a "console.log" statement in nativescript-imagepicker.
CONSOLE LOG file:///app/tns_modules/nativescript-imagepicker/images.js:19:20: 667
I am wondering why this continues to appear even after the image-picker selection has been complet

[2017-01-13 07:21] kinggolf commented on #23
@tsonevn I have also been trying to figure out a way to use Angular's @ViewChild rather than
[code]
Any advice here? Thx.

[2017-01-16 13:35] tsonevn commented on #23
Hi @kinggolf ,
About your first comment. I verify the `console.log("In takePhoto")` and it seems that this message has been print in the console only when I start taking new image. Regarding to that, could you verify, whether this issue is not related with your code and the time you are taking the image.

For the other question, I am providing example how to access the element, while using  `ViewC

[2017-01-16 20:17] Daxito opened #24 "Image Orientation Issue"
I just migrated my code to use this plugin instead of the "default" one and I noticed that if I take a picture in portrait orientation, then the resulting image is saved in landscape orientation, the image does not keep the portrait orientation and is is hard to look at the picture without rotating the phone, this issue is not present in the "default camera module".
if the image is taken in landsc

[2017-01-16 20:22] Daxito commented on #24
These other issues are related:

https://github.com/NativeScript/NativeScript/issues/1559

https://github.com/NativeScript/NativeScript/issues/3499

[2017-01-16 23:52] kinggolf commented on #23
Thanks again @tsonevn.  I previously tried your exact solution with the exception of using RadListView not ListView and this did not work. When I inserted ListView directive for RadListView it worked as you suggest. I experimented more today and researched and came across this [Github issue](https://github.com/NativeScript/nativescript-angular/issues/188), that got me thinking about using RadListV

[2017-01-17 15:12] tsonevn commented on #23
Hi @kinggolf,

I reviewed the problem with the `console.log` and found that this problem has been related with the global `orientationChanged` event, which has been used for checking the device orientation.

We register this event on first start of `nativescript-imagepicker`. I also notice that we have missed to remove to `console.log`s, which prints the current height and width of the screen.

I

[2017-01-17 15:59] tsonevn commented on #24
Hi @Daxito,

Could you provide some more info about the device or simulator, which you are using for testing?

In the meantime you could also verify, whether you will have the same behavior with this [sample app](https://github.com/NativeScript/nativescript-camera/tree/master/examples/CameraTest).

Regards,
@tsonevn

[2017-01-17 16:18] Daxito commented on #24
My device is a Samsung Galaxy S5, Android 6.0.1.
Your SampleApp works great, I am not able to duplicate the issue, what is the trick?

[2017-01-17 16:47] Daxito commented on #24
I am going to check why my App is changing the orientation and not the sample App even when both apps are using the same version of the plugin 0.0.8

[2017-01-18 06:54] tsonevn commented on #24
Hi @Daxito,

Could you give us some code snippets or sample project, which could be debugged locally?

[2017-01-18 07:02] zweimal commented on #24
Hey Guys,
This issue is 100% reproducible on my oldie Samsung Galaxy S3 (GT-I9300) with CyanogenMod 13 (Android 6.0.1) last SNAPSHOT (13.0.20161220) and on my new Samsung Galaxy S7 (SM-G930F) with OEM Android 6.0.1 (build# MMB29K.G930FXXU1BPLB).
Just take a photo on any phone position and outcome image will be rotated 90 degrees to the left.
Patch NativeScript/NativeScript#1635 seems to fix the pr

[2017-01-18 08:00] tsonevn opened #25 "camera take pickture not stored on phone"
_From @Leo-lay on January 18, 2017 6:42_

Hi, i use the camera plugin and take pickture,and set the options **saveToGallery:true**  but i don't see the photo in the album.

ios:10.0.2(14A456)
nativescript:2.4.0

follow is my code

[code]

_Copied from original issue: NativeScript/NativeScript#3504_

[2017-01-18 08:00] tsonevn commented on #25
Hi @Leo-lay,

I have tested `nativescript-camera` plugin with [this ](https://github.com/NativeScript/nativescript-camera/tree/master/examples/CameraTest) sample project on `iOS` and it seems to work as expected.
Could you verify, whether you will have the same problem, while using the sample project [here](https://github.com/NativeScript/nativescript-camera/tree/master/examples/CameraTest).
It wi

[2017-01-18 08:41] tsonevn commented on #24
Hi @zweimal
Thank you for the sample code.

I notice that you are using the old camera Module. With NativeScript 2.4 `cameraModule` has been migrated to external plugin called `nativescript-camera`.  In the plugin has been fixed the `Out of memory `exception on `Android` and the problem with the rotation. You could review this [article](https://github.com/NativeScript/docs/blob/master/hardware/cam

[2017-01-18 09:45] Leo-lay commented on #25
Hi @tsonevn ,
i push a demo[ here](https://github.com/Leo-lay/camerasample.git), also don't see on phone gallery,but it's show in my demo.
and another question: how can i get the path of pickture ? because i want upload to server.

Thanks & Regards.

[2017-01-18 15:42] Daxito commented on #24
@tsonevn
I am preparing a demo app and I will attach it here asap.

[2017-01-18 19:33] Daxito commented on #24
Attached is a sample app showing the issue.
[CameraTestRotation.zip](https://github.com/NativeScript/nativescript-camera/files/714835/CameraTestRotation.zip)

Also, after taking the picture, we send it over to our server using the nativescript-background-http and the file we received is also in the wrong orientation.

[2017-01-19 13:33] tsonevn commented on #25
Hi @Leo-lay,
I reviewed your project and found that the problem has been related due to missing permissions to access the phone gallery.
To be able to fix this behavior you should first call `nativescript-camera` plugin `requestPermissions();` method, which will ask the user for the needed permissions and you will be able to save the images in the gallery.

About your second question you should fi

[2017-01-20 09:39] cvgomes commented on #24
I'm having the same exact issue with both Sony Xperia T3 (d5103) and in Samsung Galaxy S4 (GT-I9505).
T3 is using Android 4.4.4, and the S4 is using Android 5.0.1
Found this post in StackOverflow describing the same:
http://stackoverflow.com/questions/40609909/how-to-set-orientation-of-image-with-nativescript-imagepicker

[2017-01-20 09:53] cvgomes commented on #24
The same code works well on a Oneplus One using Android 6.0.1

[2017-01-20 12:37] tsonevn commented on #24
Hi @Daxito,

Thank you for the sample project.

I was able to reproduce this behavior on my side, while using Samsung S4 device.
This problem has been reproduced only on some `Android` devices. We will research this problem further and will verify, what is causing this issue.

For further info, you could keep track on this issue.

In the meantime, you could verify, the screen orientation by using

[2017-01-20 15:04] Daxito commented on #24
@tsonevn
Thank you for the update and workaround! I will keep an eye on this issue.

[2017-01-22 05:47] kinggolf commented on #23
@tsonevn
Good deal.
Thanks again for all your help.
Best - Larry King

[2017-01-22 05:47] #23 closed, assigned to nobody

[2017-01-23 18:19] Daxito opened #26 "iOS unable to get requested image resolution, always getting smaller"
I am not sure what I am doing wrong or maybe this is a bug.
I want to take a picture 2048x1536 but I keep getting an image 320x480.
Please see the attached demo that shows the issue.
I am using an iPhone 4.

[CameraTest.zip](https://github.com/NativeScript/nativescript-camera/files/724558/CameraTest.zip)

[2017-01-28 21:32] mounirka commented on #24
Hi guys, i'm using the plugin and i noticed this bug on my device, i came up with a solutions that works on my device but it slower a bit the process.
In the file inside the plugin nativescript-camera.android.js i added the following code at the end of the file:
[code]

And then just before the line `var asset = new imageAssetModule.ImageAsset(picturePath_1);` add this:
[code]

I'm not very skille

[2017-01-29 22:52] maddy2get commented on #18
Hello, any progress on this yet? Really waiting for this to the my app to release.

[2017-01-30 13:49] #25 closed, assigned to nobody

[2017-01-30 15:49] tsonevn commented on #26
Hi @Daxito,
Thank you for the sample project.

I reviewed your case and found that the image, which has been made has been saved to the gallery and returned in the app with the correct size.

However, the problem comes from the `ImageSource`, which has been returned from `fromAsset` method, which will always be with the minimal possible size of the `UIImage`.

We will research this behavior and wi

[2017-01-30 15:53] Daxito commented on #26
Thank you @tsonevn !

[2017-01-31 11:13] tsonevn commented on #26
Hi @Daxito
In my further research, I found that you could use `PHImageManager` in iOS to get the UIImage with the correct width and height. I am attaching sample code, where have been used `PHImageManager` and its `requestImageForAsset` method.

TypeScript
[code]

Regards,
@tsonevn

[2017-01-31 14:47] Daxito commented on #26
@tsonevn Thank you for sharing! I'm taking a look at it right now.

[2017-01-31 15:03] Daxito commented on #26
FYI: seems like Android has the same issue ;-), It makes sense if you said it might be a problem with the Image Source

[2017-01-31 15:40] tsonevn commented on #26
Hi @Daxito,

I was able to reproduce this behavior also on Android. I am still searching for a workaround and will provide further info with possible solution Android.

[2017-02-01 07:47] tsonevn commented on #26
Hi @Daxito,

To be able to create image with custom size on Android, you could create Bitmap with appropriate width and height. I am attaching sample with the workaround for this case:

[code]
Regards,
@tsonevn

[2017-02-01 15:20] Daxito commented on #26
Thank you @tsonevn ! I already implemented the workaround for iOS!

Thanks

[2017-02-02 09:33] gregersen79 commented on #24
Also experiencing this rotation issue on a Sony Xperia Z3, LG G4 and LG Spirit. Using version 0.0.8 of the camera plugin.

[2017-02-03 10:41] mounirka commented on #24
Hi @gregersen79 have you tried my solution? does it work on your devices? thank you

[2017-02-03 12:10] gregersen79 commented on #24
Hi @mounirka yes I implemented your solution and it worked well, thank you! So until this issue gets resolved I'll go with this.

[2017-02-06 12:02] gregersen79 commented on #24
Okay, so after a little research I found, that if I'm loading an imageSource from the returned imageAsset, the imageSource will have a correct rotationAngle.
I'm using the imageCropper plugin after the camera plugin, so for me the problem is that the imageCropper plugin doesn't handle the rotationAngle property for the imageSource.
So I guess the handling of the image orientation for the camera pl

[2017-02-06 14:17] tsonevn commented on #24
Could you try to upgrade to latest NativeScript 2.5 and to verify, whether you will have the same problem with image orientation while using default `Image` component.
You could use `tns update` [command](http://docs.nativescript.org/releases/upgrade-instructions#upgrading-the-application), which will upgrade all needed dependencies in the project.

[2017-02-07 09:29] gregersen79 commented on #24
@tsonevn I have an upcoming release of our app with Nativescript 2.4, but I will upgrade as soon as I get a change, should be the start of next week.

[2017-02-07 12:18] sagesan commented on #24
i have the same problem on samsung galaxy 4, and after 2.5 other plugin broke so i can't test the camera :/

[2017-02-07 14:11] sagesan commented on #24
ok i disabled the plugin and the pictures are still being rotated

[2017-02-15 12:40] cvgomes commented on #24
@tsonevn issue still present on {N} 2.5

[2017-02-16 06:34] tsonevn commented on #7
duplicated with [#26](https://github.com/NativeScript/nativescript-camera/issues/26)

[2017-02-16 06:34] #7 closed, assigned to nobody

[2017-02-23 17:15] halaharr opened #27 "tns run android fails to build after adding the plugin."
I keep getting the following error after adding the plugin. If I remove the plugin it works fine.  Can you please let me know if there are any more dependencies that I need to install
[code]

[2017-02-23 20:28] rossbg commented on #24
After days of bad feelings I just tried @mounirka solution and it works.

[2017-02-24 07:50] tsonevn commented on #27
Hi @halaharr,

After adding the plugin with `tns plugin add nativescript-camera`, delete `platforms` folder clear npm cache with `npm cache clear`.

Then try again to rebuild the project with `tns run android`

Hope this helps

[2017-03-06 15:25] AlexPak opened #28 "module fails on NS2.1.6 Samsung Gs7, it doesn`t fire onActivityResult"
I believe it would work if do the following:
1.  Add:  var _activity = appModule.android.foregroundActivity || appModule.android.startActivity;
1.1. Substitute: appModule.android.onActivityResult = (requestCode: number, resultCode: number, data: android.content.Intent) => {
onto
_activity.onActivityResult = (requestCode: number, resultCode: number, data: android.content.Intent) => {
1.2 Substitute

[2017-03-06 15:30] AlexPak commented on #28
By the way this is the events trail:

JS: Event: activityPaused, Activity: com.tns.NativeScriptActivity@6d69864
JS: Event: saveActivityState, Activity: com.tns.NativeScriptActivity@6d69864
JS: Event: activityStopped, Activity: com.tns.NativeScriptActivity@6d69864
JS: Event: activityStarted, Activity: com.tns.NativeScriptActivity@6d69864
03-05 13:55:30.837  2330  2330 W ExifInterface:         at co

[2017-03-07 11:47] dlucidone opened #29 "Camera crashes on clicking Second Picture in App?"
I have a module which include clicking picture and displaying it and then sending it back to server.
The first time everything goes smooth but if i go back and edit the image and click another picture the app crashes.

![4516139756590974505-account_id 2](https://cloud.githubusercontent.com/assets/9256365/23655148/dfa63478-0359-11e7-970b-5f22ceed5d31.png)

this is the error im getting any help? tha

[2017-03-11 19:07] jumal-ali opened #30 "Option to crop image after capture?"

[2017-03-11 21:25] #30 closed, assigned to nobody

[2017-03-11 21:27] jumal-ali commented on #30
this package resolved the issue for me: https://github.com/bthurlow/nativescript-imagecropper

[2017-03-14 12:42] vswee opened #31 "imageAsset is undefined"
on iOS 10 and android 4.0+ both real devices I cannot get any data returned from imageAsset after takePicture. It simply always returns undefined which makes it impossible to save the file to the app filesystem or to work further on the image to convert to base64 etc.

Here's an error from a simple binding example:

CONSOLE LOG file:///app/views/e/ason/ason.js:102:20: Error -> undefined is not an

[2017-03-14 14:08] tsonevn commented on #29
Hi @dlucidone,
Could you provide some more info about your project and the plugins you are using in it?
It would help if you could share some code with us or sample project, which could be debugged locally.
You could also give us some info about your environment (`CLI`, `node`, `tns-core-modules` versions).

[2017-03-14 14:26] dlucidone commented on #29
Hey @tsonevn thanks for replying, my deps are

    "dependencies": {
     "@angular/common": "2.4.5",
    "@angular/compiler": "2.4.5",
    "@angular/core": "2.4.5",
    "@angular/forms": "2.4.5",
    "@angular/http": "2.4.5",
    "@angular/platform-browser": "2.4.5",
    "@angular/platform-browser-dynamic": "2.4.5",
    "@angular/router": "3.4.5",
    "email-validator": "1.0.4",
    "nativescript

[2017-03-15 09:39] tsonevn commented on #29
Hi @dlucidone,
Could you confirm that you have used [CameraTestAngular](https://github.com/NativeScript/nativescript-camera/tree/master/examples/CameraTestAngular) application while testing `nativescript-camera` plugin on your device?
If not, could you verify, whether you will have the same issue with the demo app?

In case you are using another app, can you give us your project or at least those

[2017-03-15 11:51] tsonevn commented on #31
Hi @vswee,
Thank you for interest in NativeScript,
I reviewed your case, however, was unable to reproduce this behavior, while using  [CameraTest](https://github.com/NativeScript/nativescript-camera/tree/master/examples/CameraTest) app.
The `imageAsset` has been returned as expected on both iOS and Android.

Could you verify the sample project on your side and to verify, whether you will have the

[2017-03-15 12:05] dlucidone commented on #29
hey, @tsonevn

I cannot share whole project but here is the fragment of my code

    onTakePictureTap(args) {
        permissions.requestPermissions([android.Manifest.permission.CAMERA,
                                        android.Manifest.permission.ACCESS_NETWORK_STATE],
                                        "App Needs The Following permissions")
            .then(()=>{
         var millise

[2017-03-16 12:11] tsonevn commented on #29
Hi @dlucidone,
I made sample project while using the above given code snippet, however, was unable to reproduce the reported issue.
Regarding that, I am attaching a sample project. Could you make the needed changes in it, which will allow us to reproduce this behavior?

At that point, you could also use `nativescript-camera` `requestPermissions()` method instead of `nativescript-permissions`, whic

[2017-03-16 12:42] dlucidone commented on #29
hey @tsonevn ,
Sure i will, but i'll get back to it after 3-4 days as i'm working on a plugin for week view. I'll try to add a gif showing the error. thanks

[2017-03-17 08:30] Neomac opened #34 "View laggy when the picture is too big"
Hi everyone,

I got an issue while playing around with the camera module on my moto x play.
I took a picture with this code sample :
[code]
And then I showed it in my component :
[code]

The issue is, when I set my camera to 21mpx (the max resolution I have on my camera), when I come back on the view that shows the picutre, all the page is very laggy and every input take 3 to 5 sec to be executed.

[2017-03-24 19:05] #31 closed, assigned to nobody

[2017-03-28 05:27] tsonevn opened #35 "Camera still saving image to gallery even when setted to dont save"
_From @dzfweb on March 27, 2017 18:55_

Apparently CameraOptions is not working correctly.
Camera still saving image to gallery even when setted to dont save.
The width and height is not working as configured too.

My code:
[code]

_Copied from original issue: NativeScript/NativeScript#3883_

[2017-03-28 05:27] tsonevn commented on #35
This could be related to issue [#25](https://github.com/NativeScript/nativescript-camera/issues/25) and the fact that you should request permissions for the phone gallery.

You could try to call `nativescript-camera` plugin `requestPermissions();` method before taking a picture, which will set up the needed permissions and will allow cameraOptions to be changed.

Hope this helps.

[2017-03-28 12:40] dzfweb commented on #35
@tsonevn  i already call `requestPermissions();` on ngInit function of my component, and didn't work.

[2017-03-28 14:35] tsonevn commented on #35
Hi @dzfweb,
I have tested this scenario also on non-NativeSciprt Angular 2 project and was able to reproduce the same issue while using [CameraTest](https://github.com/NativeScript/nativescript-camera/tree/master/examples/CameraTest) sample app.

We will research this case and will provide the needed fix. You could keep track on the issue for further info.

[2017-03-30 06:18] tsonevn opened #36 "[Android] App back to splash screen when the camera returns"
_From @dzfweb on March 27, 2017 13:38_

I have an app with nativescript + angular that closes when i call camera's api, returning to splash screen.. I think it's because of the low memory of the dispositive, because only occur on old devices. Is there a way to force the app still open on first stage, even when opening other app (in my case, camera) ?

_Copied from original issue: NativeScript/Nati

[2017-03-30 06:19] tsonevn commented on #36
Hi @dzfweb,
I tested your case while using [CameraTestAngular](https://github.com/NativeScript/nativescript-camera/tree/master/examples/CameraTestAngular) plugin, however, was unable to reproduce the same behavior.
Regarding that could you provide some further info, about the device or emulator API Level? Could you also provide some sample project, which could be debugged locally?

[2017-03-30 06:19] tsonevn commented on #36
_From @dzfweb on March 27, 2017 15:41_

For reproduce the scenario, i used android 4.4.4, open some android apps on the dispositive, and then back to the app and open the camera. When the camera returns, in some case android close the app and it will open again from the begin (splash screen).

is there a way to use the camera without close the app, to evict it scenario, or other solution?

[2017-03-30 06:19] tsonevn commented on #36
Hi @dzfweb,
I tested this case on a device with Android 4.4.4, however, was unable to reproduce this behavior on my side. I am using [CameraTest](https://github.com/NativeScript/nativescript-camera/tree/master/examples/CameraTest) app for testing.
You could review the steps that I follow:
1. deploy `CameraTest` app on the device with `tns run android`.
2. open another android app on the device.
3.

[2017-03-30 06:19] tsonevn commented on #36
_From @dzfweb on March 29, 2017 16:4_

I understand you, the fact only occurs on Samsung J1, and is not ever, just sometimes.
I have it problem in other project developed in Xamarin, and i solved by reducing the quality of the camera photo, and it sizes, but i 'm not getting in NativeScript 'cause other bug (https://github.com/NativeScript/nativescript-camera/issues/35)

[2017-03-30 06:19] tsonevn commented on #36
Hi @dzfweb,
Let's move this issue in the `nativescript-camera` repository and keep the discussion there.
Regarding the issue [#35](https://github.com/NativeScript/nativescript-camera/issues/35). The reported problem seems to affect only the save option on some Android device. You should be able to change the sizes of the image(width and height).

Could you try to setup image size in takePicture me

[2017-03-31 12:47] dzfweb commented on #36
@tsonevn picture resizes not workint properly too. The size of the image after the taken was the same of the original.

[2017-04-04 13:56] dzfweb commented on #35
@tsonevn do you have other alternative, or other plugin that i can use instead of nativescript-camera? I need to solve this problem in my android app. The resize isn't working too :/

[2017-04-07 07:27] tsonevn commented on #36
Hi @dzfweb,
This problem with image size is related to the imageSource module and its fromAsset method, which will create a source always with the same dimensions. In this case, you could use the imageAsset from the newly taken image

You could also verify this case on your side while using [CameraTest](https://github.com/NativeScript/nativescript-camera/tree/master/examples/CameraTest) app and re

[2017-04-07 07:36] tsonevn commented on #35
Hi @dzfweb,
At this time `nativescript-camera` is the only available plugin, which provides this functionality.
About the imageSource size, you could review the comment in the issue [here](https://github.com/NativeScript/nativescript-camera/issues/36#issuecomment-292462620).

[2017-04-28 12:12] wired4code opened #38 "takePicture method not returning promise in Android (but does in iOS)"
Running the test-camera example (nativescript-camera/examples/CameraTest/app/), everything works just fine in iOS and the image (selected from the gallery) is displayed on the screen. But when I test this same code running the Android emulator, after the camera opens and I snap a photo and click on save, the photo does not display on the screen. So I tested by adding a console.log right after the

[2017-04-28 13:14] wired4code commented on #38
Update: a friend tested on his Android device, and it's working fine. I may have misunderstood how the dummy camera in emulator is supposed to work. He explained that after snapping a photo, it should give me the option to select that photo or take another, but because it doesn't, that's likely why the promise is not returning. Can someone confirm?

[2017-04-28 17:15] wired4code commented on #38
Update: the example using Angular works just fine on Android emulator and on device. It's the non-Angular example that's not working.

[2017-04-29 21:44] wired4code opened #39 "Android: (Calling js method onScanCompleted failed) when saveToGallery is true"
I'm having an issue with my Android build where if I set `saveToGallery` to `true`, after taking a picture and selecting it, rather than display it on the view, the app crashes with the following error below. But when it's set to false, the picture is taken, selected and shows up fine in my view.

[code]
in the logcat, I noticed this:

[code]
Oddly, this issue does not occur with my iOS build. Her

[2017-04-30 18:00] NathanaelA commented on #39
The new version of the Camera module; you need to be using the v3.00 of the core modules-- If you use 2.5, it will fail with the above error.   I believe the prior v0.0.8 works with tns 2.5...

[2017-04-30 19:56] wired4code commented on #39
That makes sense. I was just now checking out the 3.0.0 release candidate. I'll give that a go. Thanks!

UPDATE: That was it. I created a new template app with the 3.0.0-rc and everything working great!

[2017-05-06 00:46] #39 closed, assigned to nobody

[2017-05-10 13:18] tsonevn commented on #38
Hi @wired4code,
Thank you for contacting us. I reviewed this case on my side while using [CameraTest](https://github.com/NativeScript/nativescript-camera/tree/master/examples/CameraTest) sample app. However, everything seems to work as expected while building the app on emulator and real device.

Regarding that, could you verify, whether you have the correct permissions `WRITE_EXTERNAL_STORAGE` an

[2017-05-10 13:29] #36 closed, assigned to nobody

[2017-05-16 08:39] #38 closed, assigned to nobody

[2017-05-19 03:27] xanZ08 commented on #3
I put the saveToFile in a try catch block, and I get the below error
JS: TypeError: img.saveToFile is not a function
I am running TNS 3.0.1
This issue is same, on my emulator, as well as on my device - Nexus 4 - android 5

[2017-05-19 14:17] xanZ08 commented on #3
Would really appreciate some help. I need this thing working to move ahead .

[2017-05-19 14:32] tsonevn opened #40 "image-source saveToFile does not work"
_From @xanZ08 on May 19, 2017 13:56_

Hello,
I need to capture an image via camera and save it to file, but the save option does not seem to work.

[code]

[2017-05-19 14:32] tsonevn commented on #40
Hi @xanZ08
If I understand you correctly you would like to save the newly taken pictures to the `Photo Gallery`.
In this case, you should include one more parameter in the `takePicture()` method called `saveToGallery`. For example:
[code]

Bear in mind that to be able to save the image you should request permissions to do that. For this case, you could use `requestPermissions()` method, provided b

[2017-05-19 15:21] xanZ08 commented on #40
Hello @tsonevn ,
Well, not exactly save to gallery but yes, I need the image saved, and I need the filepath and image name so i can use it later. Adding the saveToallery did save it to gallery, but that did not solve my purpose .
Also , saveToFile function still does not work.
This is not an issue with the camera module but of image-source.

[2017-05-22 08:19] tsonevn commented on #40
related to [#4242](https://github.com/NativeScript/NativeScript/issues/4242)

[2017-05-22 08:19] #40 closed, assigned to nobody

[2017-05-25 13:52] Jai-Krish opened #41 "Camera doesn't open from a modal view"
Here is a minimal project for testing
[ModalCamera.zip](https://github.com/NativeScript/nativescript-camera/files/1029161/ModalCamera.zip)

[2017-05-26 10:54] tsonevn commented on #41
Hi @Jai-Krish,
Thank you for the attached sample project, I reviewed the problem, however, this behavior is something expected and at this time navigating to another Page from Modal Page is not supported. The same scenario is while using `nativescript-camera` plugin.

We have already logged a [feature request](https://github.com/NativeScript/NativeScript/issues/3753) about this case and you could

[2017-05-26 10:54] #41 closed, assigned to nobody

[2017-06-01 14:37] racekarl opened #42 "Ability to check the status of the requested permissions."
Why does the requestPermissions method return void and not the result of the request?  How are we supposed to handle the case where the user denies permission to use the camera?  I can see in the code for iOS you catch the permission denied case and log it, while in Android the result is never even checked.  In both cases nothing is returned to the calling code, which does not make sense to me.  A

[2017-06-05 13:22] tsonevn commented on #42
Hi @racekarl,
The requestPermissions is created by design to request the needed rights, however, it will not check, whether the user has accepted them or not. This is something that should be handled in the project manually.  In case you ned to verify, whether you have the needed permission you could use native code and check this information. You could review the below-given code sample, where th

[2017-06-13 18:43] davecoffin commented on #18
was this added in 2.5.0?

[2017-06-28 19:51] b-hobbs commented on #18
+1

[2017-06-30 18:26] yavin5 opened #43 "Nativescript Camera Angular 4 Component Not Rendering"
Does the camera component work in an AVD Android emulator that has one or both emulated cameras enabled and working?  If so, my Angular component of the nativescript-camera doesn't render at all..  I embed my component on the home page, and it doesn't render anything.

I have tested the AVD Android emulator's camera by opening the camera app, and verifying that it runs and shows video from my lapt

[2017-07-01 11:25] ghost opened #44 "Custom Camera View"
Hello Friends,

i never used github to post a issue in the past so i hope i do it right.

This is not a issue, its more like a question how to solve a problem.

I only want to know if the following is possible with native script.

1.) Count taken pictures and do a custom action (upload all taken pictures) after picture x
2.)  Overlay the camera with a layer, place a indicator on the layer  so that

[2017-07-03 18:16] yavin5 commented on #43
I figured it out.  There were several things wrong in my tree..

1. Make sure to use version 2.3.4 of the "typescript" module.. everywhere.  If it is installed globally, make sure that that globally installed copy agrees with the one installed locally in the project's source tree.. make sure those two versions agree with the version listed in package.json (and in Angular Seed Advanced, the one in

[2017-07-03 18:16] #43 closed, assigned to nobody

[2017-07-07 02:26] lautaroramos commented on #3
Hi @3rror404  I think I have the solution for your problem.
In your code snippet, You are trying to call the .saveToFile() method in the imageAsset returned by the camera, but if you check the API reference you will see that imageAsset doesn't have that method.

For doing what you want to do you have to convert the imageAsset to an imageSource, calling the static method .fromAsset() from the image

[2017-07-10 06:04] BhuvaneswariVajravel opened #46 "Get image size in Nativescript ios"
Hi friends i uploaded image using imagepicker in Nativescript app in ios. i can successfully upload the image. but i want to restrict the size of the image.that is when i select the image before save i want to check whether it is less than or greater than 2MB. is there any way to do this.

here i have include my code snippet , pls anyone answer me,

[code]

[2017-07-10 09:44] tsonevn commented on #46
Hi @BhuvaneswariVajravel,
At this time there is no plugin, which provides similar functionality in NativeScript, however, you could use native code and `NSFileManager` for iOS and `java.io.File` for Android. With the help of those two classes you could verify the size of the file. For further help, you could review the sample code provided on [this issue.](https://github.com/NativeScript/NativeScr

[2017-07-10 11:29] BhuvaneswariVajravel commented on #46
Hi @tsonevn
Thanks for your quick and simple solution
thank u so much

[2017-07-10 11:33] #46 closed, assigned to nobody

[2017-07-12 12:10] NickIliev commented on #44
@bErNd1986 yes, you can achieve all that with NativeScript. using the MVVM pattern you can create your view-model and provide a counter variable to "watch" for the number of taken photos and based on that counter to execute your logic for upload (there is a dedicated plugin for background-upload called nativescript-background-upload).

Howev3er, the issue system is not for how-to related questions

[2017-07-12 12:10] #44 closed, assigned to nobody

[2017-07-17 05:40] Dharmendta opened #48 "Camera selfie mode and capture the selfie in a customized frame"
I have a screen in my app where user can upload his profile pic. whenever he opens this screen, camera should open directly in selfie mode (without any user interaction) and should allow him to take his selfie. The selfie captured by camera should be loaded in a frame for preview.

Can someone please suggest:
1) how can I load the camera to directly capture selfie?
2) how can I load the selfie cap

[2017-08-02 13:31] Clifte opened #49 "Set image path"
I looked into code and verified the image path is generated based on timestamp is it possible to give an path to image file?

[2017-08-03 13:42] davecoffin commented on #18
@valentinstoychev @nsndeck This being the recommended camera implementation for nativescript core, I really think it needs some attention. I would imagine a lot of apps are using it (2,336 downloads in the last month), and there are some basic issues in this repo that havent been addressed for months, including this one. Can we get an update?

[2017-08-09 19:55] lookzovt opened #50 "Taking a photo automatically"
Please add option for taking a photo automatically, without pressing a button by user.

[2017-08-10 12:38] tsonevn commented on #49
Hi @Clifte,
Could you provide more info about the problem, which you are facing and how you are getting the path of the newly created image?

It would also help if you could provide a sample project, which could be debugged locally.

[2017-08-10 13:18] tsonevn commented on #48
Hi @Dharmendta,
Excuse us for the delay in reply.
After a little research, we found that there is no easy way to achieve this functionality without making changes inside the nativescript-camera plugin. We will mark this as a feature request and you could keep track on the issue for further info.

[2017-08-10 16:28] Clifte commented on #49
I'd like to set or get the path where the image is stored.
something like this:

note the filePath property:
[code]

[2017-08-11 05:24] tsonevn commented on #49
Hi @Clifte,
In this case, you could use `saveToFile` method provided from the `imageSource` modules. For further help, you could review the sample code in this project, where the same technic is used for the image picker.

[2017-08-19 09:47] Pinny3 opened #51 "iOS: Strange behavior of #takePicture"
Hi there,

somehow the functionality

camera.takePicture(...)

is a little bit strange on iOS 10.3

I use the example project provided here:

https://github.com/NativeScript/nativescript-camera/tree/master/examples/CameraTestAngular

When I call the functionality to take a picture in the in my app the camera comes up. Then I been prompted to allow the app to use the camera. If I denied it I still

[2017-08-23 12:14] tsonevn commented on #51
Hi @Pinny3,
Thank you for reporting this issue,
I reviewed it on my side and was able to reproduce the same behavior while using [the non-Angular sample app](https://github.com/NativeScript/nativescript-camera/tree/master/examples/CameraTest).

For further info and a solution please keep track on the issue.

[2017-08-23 21:24] EddyVerbruggen commented on #24
Hey @mounirka, I encountered this issue today myself and have taken the liberty to transform your code into a PR (#52). Thanks for sharing!

[2017-08-24 14:07] bzaruk opened #53 "Upload to s3 without save the photo"
There is a way to take a picture with the camera module ("nativescript-camera") without saving into the storage?
I just want to uplaod it to s3 - For now I am saving it and upload the saved file into s3
so now I need to figure out how to not save it and upload the image from the app memory
I can actually save it - upload it - and remove it...But is there a better way to do that?

[2017-08-25 08:52] #24 closed, assigned to nobody

[2017-08-25 11:46] tsonevn commented on #53
Hi @shabib3,
You could use the imageSource  for the newly created image and to use `toBase64String` method to get the image as a base64 string, which could be uploaded to the service. Then you will be able to upload the image, without the need to save it temporarily.  For example:
[code]

[2017-08-28 08:54] tsonevn opened #54 "checkSelfPermission is not function"
_From @damon-yang on August 28, 2017 3:32_

nativescript-camera . module
error:
![image](https://user-images.githubusercontent.com/18701960/29758236-6c1d311e-8be4-11e7-8d5b-467aab42af72.png)

code:
[code]
![image](https://user-images.githubusercontent.com/18701960/29758259-97ef29c8-8be4-11e7-8189-71d52bc03d0b.png)

_Copied from original issue: NativeScript/docs#888_

[2017-08-28 09:39] tsonevn commented on #54
Hi @damon-yang,
Thank you for your interest in NativeScript.
I tested your case on our side while reusing some parts from your code, however, the `nativescritp-camera` plugin seems to work as expected.

For your convenience, I am attaching sample project, please review it and make the needed changes, which will allow us to recreate the issue.
[Archive.zip](https://github.com/NativeScript/nativescr

[2017-08-28 09:39] #53 closed, assigned to nobody

[2017-08-28 09:43] bzaruk commented on #53
@tsonevn Awesome I will try it!

[2017-08-28 11:13] #49 closed, assigned to nobody

[2017-08-29 07:31] DivyeshSharma opened #55 "takePicture() with specified width/height not working"
We want to allow our user to take selfies in our app which we have build in Nativescript 3.1.2 (tns-core-modules 3.1.0, tns-android 3.1.1).

1. Is there any nativescript plugin available that allows user to crop an image where user can select the area on a screen which he wants to crop? We tried searching but did not able find it.

2. As an alternative we have tried nativescript-camera plugin (ver

[2017-08-29 15:58] Cayan commented on #18
+1

[2017-08-30 10:16] #54 closed, assigned to nobody

[2017-08-31 12:09] terreb opened #56 "feature request: requestPermissions to return promise"
Hey guys haven't you considered to return a promise or implement callback for requestPermissions function?  I think it's must have...

[2017-09-06 13:51] echap commented on #55
Same here, and it's been like six month... Would be great to have updates on this :)

[2017-09-16 15:46] ghost commented on #26
@tsonevn any idea how I can convert the final bitmap/asset object to base64 in both cases?

[2017-09-25 07:27] timostuebing opened #58 "Incorrect image orientation and memory leak on Android / Galaxy S4"
# Please, provide the details below

camera-plugin ignores image-rotation after some pictures and then, when taking more images, makes the app crash with a memory error.

## Did you verify this is a real problem by searching [Stack Overflow]
Yes.

## Tell us about the problem
I have a view that takes pictures for being saved as part of a note.

In the beginnung, on my Samsung Galaxy S4, the images

[2017-09-27 12:14] tsonevn commented on #55
Hi @DivyeshSharma, @echap
Indeed this is an old issue which is already reported [here](https://github.com/NativeScript/nativescript-camera/issues/26) . This problem is still under review, however, I could not commit to the exact time when it would be fixed. Regarding that, I would suggest to follow the another issue and to verify, whether the given workarounds are applicable in your case.

[2017-09-27 12:14] #55 closed, assigned to nobody

[2017-09-27 12:18] tsonevn commented on #56
duplicated with https://github.com/NativeScript/nativescript-camera/issues/42

[2017-09-27 12:18] #56 closed, assigned to nobody

[2017-09-29 06:09] tsonevn opened #59 "[Crash] After taking more then three pictures on a device with Android API level 24 or later"
The Issue could be reproduced while taking four pictures in sequence while using Android device with API level 24 or later. The application will crash with the following error:
[code]
I am attaching sample project, which could be used for debugging.

[project.zip](https://github.com/NativeScript/nativescript-camera/files/1343261/project.zip)

t. 1132625

[2017-10-03 01:28] nmongiya commented on #59
I am using the
https://github.com/NathanaelA/nativescript-permissions
This is a workaround, It has a function to check permission and return true and false.
permissions.hasPermission(permissionName);

permissionName - The permission you are requesting.
returns Boolean - true or false

[2017-10-03 01:29] nmongiya commented on #42
I am using the
https://github.com/NathanaelA/nativescript-permissions
This is a workaround, It has a function to check permission and return true and false.
permissions.hasPermission(permissionName);

permissionName - The permission you are requesting.
returns Boolean - true or false

[2017-10-03 12:59] halaharr commented on #42
Hi,
     I am not sure what this workaround is for? Is it for camera crashing after multiple photos?

Thanks

[2017-10-05 01:30] nmongiya commented on #26
In my case, It is taking larger pictures than the size I provided. (In case of both android and ios.)

[2017-10-12 14:00] tsonevn commented on #58
Hi @timogroeger,
Thank you for the given description for the problem.
Regarding that could you provide some more info about the project and how you attached the Image source for the ImageView component. It would be really helpful if you could send us sample project, which demonstrates the issue and could be debugged locally on our side.

In the meantime, I would suggest to review the sample projec

[2017-10-14 09:56] technicznyblog commented on #50
Is any chance to implement it?

[2017-10-16 13:14] ghost opened #60 "Error: Uncaught (in promise): null"
I insert latest nativescript-camera plugin
tns 3.2.1
typescript: 2.4.2
device htc 626

[code]

[code]

I get this console:
`Error: Uncaught (in promise): null`

`ActivityManager: START u0 {act=android.media.action.IMAGE_CAPTURE flg=0x3 cmp=com.htc.camera/.CameraServiceEntry clip={text/uri-list U:content://hu.neosoft.praktiker.provider/external_files/DCIM/Camera/NSIMG_20171016_15427.jpg} (has extra

[2017-10-17 07:36] tsonevn commented on #60
Hi @bumbella,
I tested the nativescript-camera plugin while using [CameraTestAngular ](https://github.com/NativeScript/nativescript-camera/blob/master/examples/CameraTestAngular) application on Android API level 19 and 23 and the plugin seems to work as expected.
Regarding that could you give us some more info about the device and its API level.
Also, you could try following the approach, which is

[2017-10-24 02:11] pauly815 commented on #59
Observing this issue as well.  Not able to consistently replicate the error though.

[2017-10-24 09:50] adamauckland commented on #18
Hi, this issue seems to be a year old and untouched. Can I just raise a PR to implement removing the "video" option? It doesn't really make sense to show the "video" option when `camera.takePicture()` returns an image asset.

[2017-10-26 12:02] AnthonySmith01 commented on #42
It would be ideal if nativescript-camera provided a means to check the permission.

Projects can implement their own logic to track permissions but this doesn't take into account that users can revoke permissions outside of the app. What if the user removes the app permission in settings and then re-opens the app? It becomes a confusing mess.

Nativescript-permissions is also a great plugin but it

[2017-10-30 08:39] andreacappadona17 commented on #59
Having the same error here.

[2017-10-30 14:29] DimitarTachev commented on #18
I'm closing this issue because it has been inactive for a few months.

[2017-10-30 14:42] DimitarTachev commented on #18
Hi guys,

Sorry for the long silence and thanks for your contribution! The takePicture method will set only the image media type out of the box in the next plugin version.

The fix is part of pull request #62 and should be available in NPM until the end of the week as the plugin is in a process of becoming a verified one.

As part of this process, the plugin will also follow the recommended plugin

[2017-10-30 14:45] DimitarTachev commented on #27
I'm closing this issue because it has been inactive for a few months.

[2017-10-30 14:45] #27 closed, assigned to nobody

[2017-10-30 14:56] DimitarTachev commented on #28
Hi @AlexPak

Sorry for the long silence and thanks for the suggested workaround.

Unfortunately, the minimum NativeScript version required by the plugin is 3.0.0. I suggest you update your project to the latest NativeScript version and open a new issue if the issue is still reproducible.

Other possible solution could be using a custom fork of the repo with the above-mentioned workaround if updati

[2017-10-30 14:56] #28 closed, assigned to nobody

[2017-10-30 14:58] adamauckland commented on #18
Thanks for the great work, DimitarTachev!

[2017-10-30 15:10] DimitarTachev commented on #29
I'm closing this issue because it has been inactive for a few months.

[2017-10-30 15:10] #29 closed, assigned to nobody

[2017-10-31 07:30] NickIliev commented on #34
@Neomac accept my apologies for the late response! The camera plugin is now updated so please let us know if you are still experiencing a similar issue.

Closing due to inactivity but please do let me know if you are still having troubles with 21mx images.

[2017-10-31 07:30] #34 closed, assigned to nobody

[2017-11-01 21:40] demetrio812 opened #63 "(Android) Crash when using back button to close the dialog and then open it again and take a picture"
Hello,
I've just double checked in slack and forum and this problem is reproducible, here the details:

https://discourse.nativescript.org/t/problems-with-nativesckipt-camera-plugin/3006/4

Basically if after I clicked the back button to close the screen I re-execute the code to open it again, and take the picture and confirm, I get the error:

[code]

This is a very important issue, please let me

[2017-11-01 21:42] demetrio812 opened #64 "(Android) Back button modal closing event"
Hello,
when open the camera view and then click the back button to close it, I don't have any even to know that I've closed the view, is there a way to know when this happens?

Thanks,
Dem

[2017-11-01 21:43] shiv19 commented on #63
I confirm @demetrio812 's issue. I was able to reproduce the same using the latest version of the plugin.

[2017-11-01 21:48] demetrio812 commented on #59
This could be connected with this one: https://github.com/NativeScript/nativescript-camera/issues/63

[2017-11-01 21:51] shiv19 commented on #64
https://github.com/NativeScript/nativescript-camera/pull/65 @demetrio812
When this PR is merged,
This issue will be resolved 😄

[2017-11-03 11:40] zbranzov commented on #18
The fix should be already published to NPM. Enjoy!

[2017-11-03 11:40] #18 closed, assigned to nobody

[2017-11-03 16:24] DimitarTachev commented on #48
Hi @Dharmendta,

Good news!

We recently added the **cameraFacing** option in the takePicture method. You could use it in order to set the front camera by default. It accepts either "front" or "rear" (default).

Regarding your second question, you could show the selfie everywhere in your app. Check the demo apps of the plugin for an example using the [image component](https://docs.nativescript.org

[2017-11-03 16:24] #48 closed, assigned to nobody

[2017-11-03 19:17] mariano-aguero commented on #5
I run the sample that exists in the repo, and currently still having the same problem.
Apply the fix suggested by @ShawnPavel but the problem still exist

[2017-11-03 20:20] shiv19 commented on #59
@demetrio812 @andreacappadona17 I feel this is related to removing the event listener before attaching it. So, it should be fixed by now.

Waiting for the next release of this plugin on npmjs

[2017-11-05 20:18] shiv19 commented on #64
@demetrio812 Please try v3.1.3,
this issue has been resolved

[2017-11-05 20:19] shiv19 commented on #63
@demetrio812 This issue has been resolved in v3.1.3

[2017-11-05 20:29] shiv19 commented on #63
@DimitarTachev This issue still exists in 3.1.3
Attaching logs
[log.txt](https://github.com/NativeScript/nativescript-camera/files/1444394/log.txt)

[2017-11-05 20:40] shiv19 opened #68 "v3.1.3 Doesn't have the latest code changes on npmjs"
For v3.1.3 release, the code changes which were made, like handling the back button press,
fixing crash after canceling taking an image and trying to capture again, are not a part of v3.1.3 release. The js which is there in that package still contains old code.

[2017-11-06 12:24] NickIliev opened #69 "nativescript-camera restart app"
_From @bumbella on November 4, 2017 9:19_

Hi,
I use nativescript-angular
tns info:
│ nativescript     │ 3.3.0           │ 3.3.0          │ Up to date  │
│ tns-core-modules │ 3.3.0           │ 3.3.0          │ Up to date  │
│ tns-android      │ 3.3.0           │ 3.3.0          │ Up to date  │
│ tns-ios          │ 3.3.0           │ 3.3.0          │ Up to date  │

Camera version:
nativescript-camera

[2017-11-07 10:46] NickIliev commented on #69
@EmilStoychev thank you for reporting this issue. The issue is logged as a bug [here](https://github.com/NativeScript/nativescript-camera/issues/59).

Closing this one as duplicate to [https://github.com/NativeScript/nativescript-camera/issues/59](https://github.com/NativeScript/nativescript-camera/issues/59)

[2017-11-07 10:46] #69 closed, assigned to nobody

[2017-11-07 16:04] zbranzov commented on #68
Hi @shiv19,
The changes from your pull request were merged after the release of 3.1.3. As of now, you can enjoy the latest bits in v3.1.4.

[2017-11-07 16:20] shiv19 commented on #68
@zbranzov thank you so much ^_^
Cheers!

[2017-11-07 16:20] #68 closed, assigned to nobody

[2017-11-07 19:06] shiv19 commented on #64
@demetrio812 nativescript-camera@3.1.4 solves this issue. This issue can now be closed :)

It includes handling back button for iOS

[2017-11-07 19:06] shiv19 commented on #63
@demetrio812
nativescript-camera@3.1.4 solves this issue. This issue can now be closed :)

[2017-11-08 15:31] demetrio812 commented on #63
Thanks @shiv19 !

[2017-11-08 15:31] #63 closed, assigned to nobody

[2017-11-08 15:31] demetrio812 commented on #64
Thanks!

[2017-11-08 15:31] #64 closed, assigned to nobody

[2017-11-08 16:32] peni4142 commented on #3
I have nearly the same Problem.

my code:

`import { Component, OnInit, ElementRef, ViewChild } from "@angular/core";
import { Image } from "ui/image";
import * as camera from "nativescript-camera";
import * as fs from "tns-core-modules/file-system"
import * as imageScoure from "tns-core-modules/image-source";

import { ImageAsset } from "tns-core-modules/image-asset/image-asset";

@Component({

[2017-11-09 12:20] tsonevn commented on #58
closing due to inactivity

[2017-11-09 12:20] #58 closed, assigned to nobody

[2017-11-09 16:37] briosheje commented on #38
@tsonevn
I'm expecierncing this issue in Android 8.0.0 on a Nexus 5x.

Relevant code:

[code]

The .then callback is called only at the FIRST execution of the application: from the second execution onwards the callback never gets called, I get the console.log above ("Taking picture"), then no errors or anything appears, I just get this on the console:

`JS: >>> onActivityResult 1: 3453`

Using lat

[2017-11-15 10:00] andreacappadona17 opened #74 "Pictures are saved to file system but never deleted"
I had a problem with my app, where for every picture taken, the storage consumption would grow of about 5 MB, on Android 7.0 (Samsung J5).
Tried debugging, to see if I made a mistake or something, and found out that every picture you take is saved in a folder (path specified with this line)
`picturePath = utils.ad.getApplicationContext().getExternalFilesDir(null).getAbsolutePath() + "/" + "NSIMG_"

[2017-11-16 13:45] slsumathi opened #75 "Support for custom preview"
Does this plugin support custom camera preview?
 where we can show the selected portion of image in some blue color line ?

Is it something like while scanning QR code some apps open square selection area for picture.

[2017-11-23 14:52] NickIliev commented on #75
@slsumathi the plugin does not have this functionality.
You can provide your own implementation by using native Android or iOS solutions by either creating an entirely new plugin or using a native solution with marshaling directly in your application.

[2017-11-27 09:20] SBD580 commented on #36
@tsonevn This is not working either. `getImageAsync` returning image in the wrong size (you can check `image.getWidth()` on android to verify.
The only workaround I have found was to use `imageAsset.android` which hold the path for the full size image and then load it from there.

[2017-11-27 14:16] tsonevn commented on #74
Hi @andreacappadona17,
I tested the described scenario while using the `nativescript-camera` plugin and check the folder, while using the provided path from  `utils.ad.getApplicationContext().getExternalFilesDir(null).getAbsolutePath()`, however the folder was empty. I am attaching the sample application, could you review it and make the needed changes, which will allow us to recreate this problem

[2017-11-27 14:54] andreacappadona17 commented on #74
Hi @tsonevn,
have you tried setting "saveToGallery" to "false"?

[2017-11-28 10:12] tsonevn commented on #74
Hi @andreacappadona17 ,
I tested further and indeed while `saveToGallery` to `false` the image will be saved in the path returned from the `utils.ad.getApplicationContext().getExternalFilesDir(null).getAbsolutePath()` . I will mark this as a new feature and the other client could also vote for this feature and leave comments what is the best way fo them to handle this case:
1.  the plugin to delet

[2017-11-29 06:58] andreacappadona17 commented on #74
Hi @tsonevn,
what about having parameter let the user specify the path the file will be saved to?
That parameter would only be used if `saveToGallery` is set to `false`, and if path is `null` or not valid, the file could still be saved in the path returned from `utils.ad.getApplicationContext().getExternalFilesDir(null).getAbsolutePath()`

[2017-11-29 11:33] tsonevn commented on #74
Hi @andreacappadona17,
Thank you for your suggestion.
This is another option, which will allow handling this case.
As I already suggested let's leave this issue open,  We will discuss all provided options in this issue and will investigate, what would be the best approach.

[2017-12-06 08:53] DimitarTachev commented on #42
Hi guys,

The fix was implemented by @surdu in pull request #73 and released in [version 3.2.0](https://github.com/NativeScript/nativescript-camera/releases/tag/v3.2.0) of the plugin.

[2017-12-06 08:53] #42 closed, assigned to DimitarTachev

[2017-12-06 12:37] DimitarTachev commented on #59
I'm closing this one as it's not reproducible with the latest version of the plugin.

Most probably @shiv19 is right and it has been related to the event listener fix.

[2017-12-06 12:37] #59 closed, assigned to nobody

[2017-12-06 14:04] DimitarTachev commented on #51
Hi @Pinny3,

We were relying on the camera itself to request the permission on iOS and the rejection wasn't handled properly there.

The requestPermissions method is now requesting the Camera permissions and you can easily avoid the problematic behavior by calling the `takePicture` method only when the `requestPermissions` promise is resoled. The fix is part of the [3.2.1 release ](https://github.

[2017-12-06 14:04] #51 closed, assigned to nobody

[2017-12-06 14:16] DimitarTachev commented on #26
The above-mentioned issues were caused by the image processing logic in the NativeScript core modules.

@Daxito, you are always getting 320x480 because the logic was restricting the image size to the screen size of the current device.

@nmongiya, you are getting bigger images on Android because the images were read up to 2x the requested size.

All of the image processing issues are now resolved b

[2017-12-06 14:58] DimitarTachev commented on #35
Hi @dzfweb,

The `saveToGallery` issue is not reproducible with the latest version of the plugin. When this option is set to `false`, the images are stored in a files folder of your app (as expected).

The resizing issues will be fixed very soon, take a look at issue #26 for further details.

[2017-12-06 14:58] #35 closed, assigned to nobody

[2017-12-10 08:54] mid787 opened #82 "Camera permissions are ignored?"
Currently my `AndroidManifest.xml` is :

[code]

Now - When I'm using :

[code]

I get an error :

But If I prepend this code  :

      camera.requestPermissions();

Then I see the permission dialog and when approved , it does uses the camera

**Question**

I explicitly declared camera permission in the manifest.
So why is it ignored ? What should I change in order for the permission in manifest t

[2017-12-10 09:43] #82 closed, assigned to nobody

[2018-01-25 05:35] p-3 commented on #26
Any status on this when this will be merged in to comming NativeScript core?

[2018-01-25 08:12] vakrilov commented on #26
@p-3 You can expect these PRs to be merged in the next 2 weeks.
(We are in the process of reviewing and merging several PR and these are still waiting on the queue)

[2018-02-06 13:23] mast3rd3mon commented on #35
@DimitarTachev the saveToGallery is still reproducable, i have version 3.2.1 of the camera plugin and it still saves to gallery even if the parameter is set to false, can this be reopened?

[2018-02-06 14:10] DimitarTachev commented on #35
@mast3rd3mon, please open a new issue with steps to reproduce and a sample application reproducing the issue as we are not able to reproduce it on our side

[2018-02-06 14:13] mast3rd3mon commented on #35
Well i originally had 3.0.1, i updated to 3.2.1 when i saw this issue and and still
cant stop it saving to my gallery, tested on android but not ios yet

On 6 Feb 2018 14:10, "Dimitar Tachev" <notifications@github.com> wrote:

[2018-02-06 14:37] mast3rd3mon commented on #35
@DimitarTachev in your comment on december 8th, you said `The saveToGallery issue is not reproducible with the latest version of the plugin.`, could you please clarify which version that is?

[2018-02-06 15:01] DimitarTachev commented on #35
@mast3rd3mon, we are also testing with 3.2.1 and everything is working as expected. In order to investigate your case further, we will need more specific steps to reproduce the problematic behavior - something like a sample app or steps to reproduce using the plugin demo, Android version, real device or emulator, NativeScript Core Modules version, runtimes version.. (follow the issue template).

[2018-02-06 15:08] mast3rd3mon opened #86 "Camera saving images to gallery on 3.2.1 despite saveToGallery being false"
Android v7.0.0
Real device - LG G5
nativescript - 3.3.0
tns-core-modules - 3.3.0
tns-android - 3.3.0
nativescript-camera - 3.2.1

I request the permissions at the end of the ngOnInit(), i then click a button to call `takeImage()` which is as follows
[code]
Currently only tested on android but not on ios

[2018-02-06 15:08] mast3rd3mon commented on #35
@DimitarTachev i created #86

[2018-02-08 07:34] wiliarko opened #87 "API17 (Android SDK 4.2) Camera can't take photos, app crashes"
ActivityManager: START u0 {act=android.media.action.IMAGE_CAPTURE cmp=com.asus.camera/.CameraApp (has extras)} from pid 11106
ActivityManager: Process org.kct.fiberstar (pid 11106) has died.

https://www.youtube.com/watch?v=FKemwn75AYE&feature=youtu.be

the app die when i open the camera,

asus t001 (zenfone)
ram 1 GB
android 4.4.2
nativescript 3.4.2
nativescript-camera 3.2.1

tns info
│ Component

[2018-02-08 09:43] NickIliev commented on #87
@wiliarko please provide a sample application demonstrating the issue - I have used the demo applications and the camera is taking photos as expected.
In your youtube video, there is a log related to missing recourse files `Missing image with resources`  - where is this image used? Consider providing demo app so we could investigate further.

[2018-02-08 10:59] wiliarko commented on #87
I'm sorry, this is a simpler video, where when the button is pressed then the camera will open and in the log will be written dead application. after the photo taken the app will look like a restart application before it was dead

https://youtu.be/EvyQeztaI2E

in the background video  is the code

[2018-02-08 11:03] wiliarko commented on #87
i already try this aplication using my mobile phone and it not works, but if i try using another mobile phone with higher spesification it runs well

[2018-02-08 13:33] NickIliev commented on #87
@wiliarko it is hard to debug a code from a YouTube video :)

However, I've noticed that this line
[code]

This line is placed inside the camera promise and as you are using plain JavaScript function as callback the meaning of `this` is not the same as the meaning of `this` outside the scope of that function.

So you can use[ that-this pattern](https://stackoverflow.com/a/24746559/4936697) and sto

[2018-02-08 15:05] wiliarko commented on #87
it's code model
[code]

it's view
[code]
and it's controler
[code]

it's the new video

https://youtu.be/eAZkWgqu8o8

left side is smartphone lower spesification android 4.4 asus zenfone and ram 1 GB  it not works,

right is emulator android 6.0 and ram 2GB  it runs well

[2018-02-08 15:24] NickIliev commented on #87
@wiliarko I was able to reproduce the issue on device with API 17 - will investigate further and post any additional info here.

Steps to reproduce: use the demo app on API17 device/emulator

[2018-02-17 10:33] briosheje opened #88 "On android 6, it is mandatory to keep saveToGallery: true, otherwise the callback won't be invoked."
### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.
On android 6, saveToGallery is mandatory (true).

### Which platform(s) does your issue occur on?
- iOS/Android/Both --- Both
- iOS/Android versions --- not relevant on ios, android 6.0
- emulator or device. What type

[2018-03-02 09:20] NickIliev commented on #88
Steps to reproduce - use [this demo application.](https://github.com/NickIliev/NS-Issues-2018/tree/master/nativescript-camera/issue_88) and take photos on Android API 23 and above (tested on API 27) with `saveToGallery: false`

Update: after second evaluation of this issue I am not able to reproduce the behavior with the test application (after taking a picture the promise is always successfully r

[2018-03-02 09:46] zbranzov commented on #88
I couldn't reproduce the issue using Nexus 5 Android 6.0. Since it works fine on some devices and doesn't on others I think that we should keep the current state and just emit the property as @NickIliev  said.

[2018-03-02 09:58] zbranzov commented on #86
@mast3rd3mon saveToGallery is false by default in the plugin. So if you even skip providing it, the image should not be saved in the Gallery.
Can you reproduce the issue using the demo apps in this repo? Notice that they enable saving of the images by default so you would have to turn it off manually by using the app's switch.

[2018-03-02 10:00] mast3rd3mon commented on #86
If it's set to false by default, why does it always save to the gallery?
It's done this since around ns v2.2.

On Fri, 2 Mar 2018, 09:58 Zdravko, <notifications@github.com> wrote:

[2018-03-02 10:15] briosheje commented on #88
@NickIliev I'll test the demo application on the said phone (Moto X with Android 6.0) and on a Nexus 5X again. Unluckily, in my application, I'm still experiencing the issue. I will keep you updated (with further screens eventually, if needed).

[2018-03-06 04:32] brunokunace opened #92 "nativescript-permission not found"
I try to test camera, use nativescript-vue, with template nativescript-cli-template

instal with `npm install nativescript-camera --save`

and import on my vue file
`  import * as camera from 'nativescript-camera'`

only this and i try to run and get this error

`System.err: Error: com.tns.NativeScriptException: Failed to find module: "nativescript-permissions", relative to: app/tns_modules/
`

on

[2018-03-07 01:38] brunokunace commented on #92
Sorry, this error is not for camera plugin

[2018-03-07 01:38] #92 closed, assigned to nobody

[2018-03-09 14:27] bhavincb opened #93 "get image path when saveToGallery is true"
i want to get the image path when image is taken using `saveToGallery:true`.
i need to upload image taken with the camera but i'm unable to get the image path.
i had checked demo and previous issues but didn't get any solutions.

[2018-03-12 06:55] zbranzov commented on #88
@briosheje We changed the default value to 'true' for both platforms in the latest released version 4.0.0

[2018-03-12 06:55] #88 closed, assigned to NickIliev

[2018-03-12 09:11] zbranzov commented on #93
Hi @bhavincb
Following the code from the plugin's demo, you can obtain the image path using the imageAsset.android on Android.
[code]
On iOS you can save an image from the asset to accessible folder and then use it to upload as shown in [https://docs.nativescript.org/cookbook/image-source#save-image-from-image-asset-to-png-file](https://docs.nativescript.org/cookbook/image-source#save-image-from-i

[2018-03-12 09:15] bhavincb commented on #93
hii @zbranzov ,
thank you for detailed response. it's work as expected.

this information should be provided inside the plugin's README.md .

[2018-03-12 09:15] #93 closed, assigned to nobody

[2018-03-12 11:45] briosheje commented on #88
@zbranzov Thanks. Not sure whether it's relevant, but chaning from 3.3.0 to 3.4.1 for tns-android apparently solved the issue as well, not sure whether that's intended or not but whatever, just wanted to share it.

[2018-03-14 07:00] zbranzov commented on #86
@mast3rd3mon Unfortunately, we don't have similar to your device, but when tested on other android devices the image does not appear in the Gallery.
I want to mention that in the latest version 4.0 we enabled saving on the device by default as it can help in certain situations.

[2018-03-14 07:08] zbranzov commented on #26
I'm closing this issue as the PRs fixing it are already merged in the core modules and available in the tns-core-modules@next version. Stay tuned for the official release.

[2018-03-14 07:08] #26 closed, assigned to DimitarTachev, tsonevn

[2018-03-14 09:02] mast3rd3mon commented on #86
@zbranzov well im not sure then, but i've never known this plugin to not save to the gallery. I know it annoys me and it will also annoy our customers when they use the app

[2018-03-14 09:52] mast3rd3mon commented on #86
I've just gone through and debugged (somewhat) the plugin, even if the saveToGallery property is set to false (console logged the values) the file still gets saved to the phone's gallery

[2018-03-14 15:02] Mflm commented on #86
Hi

I have the same issue with a real device (Moto G5 Plus).

In the **camera.android.js** I changed the variable **saveToGallery_1** to false and stills save it in the gallery.

[2018-03-14 15:10] mast3rd3mon commented on #86
I too have tested on a Moto G5 (not the plus) and i have the same issue. I have also tested what you have and i also corrected the check that's used so its valid but it still saves to the gallery.

[2018-03-20 08:03] zbranzov commented on #86
Indeed the issue is reproducible on specific devices (e.g. LG G6) maybe because of some setting or permission which will require further investigation.

[2018-03-20 10:37] bachras opened #95 "Android build is crashing after last update"
Thank you for brilliant plugin. Unfortunately after last update android app build is crashing, nativescript and android is up to date. Here is the error I get :

[code]
Any help/advise is appreciated. Thanks

[2018-03-20 13:04] lini commented on #86
The `nativescript-camera` plugin uses a standard intent action called [ACTION_IMAGE_CAPTURE](https://developer.android.com/reference/android/provider/MediaStore.html#ACTION_IMAGE_CAPTURE) in Android. This is handled by whatever camera application is installed on the device or if multiple camera apps are installed, the user will be prompted to choose one. The plugin also instructs the camera app to

[2018-03-20 18:56] nashkuash opened #96 "Unable to launch nativescript-camera on Android 5.0.2"
**Aplication fails with this error, when trying to open the camera on Android 5.0.2**

Console.log
JS: No v4 support
JS: Error -> android.support.v4.content.ContextCompat.checkSelfPermission is not a function

[2018-03-21 23:38] nuno-morais commented on #95
+1

[2018-03-22 14:45] carrbrpoa opened #98 "KeepAspectRatio, sizes and orientation"
Hello,

As and enhancement, is it possible that `width` and `height` could be treated conditionally when `KeepAspectRatio` is set to `true`, depending on camera orientation when photo is taken?

Motive: let's say I have the following options setted:

[code]

As a result, I see that landscape/horizontal photo I take, is like 576x324 (_Ok_ case).

Also see that portrait/vertical photo is 648x1152 (b

[2018-03-23 09:32] briosheje commented on #86
@lini Thanks for the infos.

I can confirm that I'm still having feedbacks from some users having issues with the save picture module. The amount of feedbacks, however, after the latest update and after setting saveGallery to true, is DRASTICALLY reduced.

I'm still trying to figure out where the problem could effectively be since in some similar devices I'm having different results (despite simil

[2018-03-29 20:56] bhavincb commented on #64
how to check if camera is closed using android back button?

[2018-03-30 13:44] lini commented on #95
Thank you for reporting this issue. Version 4.0.1 included a compatibility change for the next version of NativeScript (a bit prematurely). The change has been reverted and version 4.0.2 is published in NPM. There are no other changes so versions 4.0.0 and 4.0.2 are functionally identical.

[2018-03-30 13:44] #95 closed, assigned to nobody

[2018-03-31 01:06] Tashfa commented on #5
I just started working on nativescript with javascript and i couldn't find much tutorials. I tried everything but my application is not accessing my device camera. Please help me out.

An uncaught Exception occurred on "main" thread.
java.lang.RuntimeException: Unable to start activity ComponentInfo{org.nativescript.CameraTest/com.tns.NativeScriptActivity}: com.tns.NativeScriptException:
Calling j

[2018-04-05 20:24] carrbrpoa opened #99 "Permissions rejected"
Tried to run the project with `$ npm run demo.android` and `$ npm run demo.ng.android`.
Ok, it builds and opens application, but when I try to take picture, even allowing the permission request, it is shown an alert `permissions rejected`.

[2018-04-10 06:57] lini commented on #99
What Android version/device are you testing on? Did you accept both permission prompts (one for camera, one for internal storage)? You can try uninstalling the demo app from the device and deploying it again to make sure all prompts appear. You can also go to the app info screen in Android and check/enable the permissions from there.

[2018-04-12 16:12] LorenDorez opened #101 "Custom Size not respected"
### Which platform(s) does your issue occur on?
BOTH

### Please, provide the following version numbers that your issue occurs with:

- CLI: 4.0.0
- Cross-platform modules: 4.0.0
- Runtime(s):
[code]
- Plugin(s): ` "nativescript-camera": "^4.0.2",`

### Please, tell us how to recreate the issue in as much detail as possible.
When i try to take a picture with smaller size the imageAsset return is s

[2018-04-12 16:36] LorenDorez commented on #101
After some debugging i found this is a result of the Density setting (3.5 for my case) but why does the image saved to the gallery show correct size of 720x1280 but the image asset return from the camera show 3584x2688?

Also maybe pass with the image asset the filePath to the picture and where it is saved so we can just access this file rather than loading the image from the asset?

[2018-04-13 19:00] tuckerjt07 opened #102 "Returning Null Image on iOS"
### Which platform(s) does your issue occur on?
iPad  11.2.6

### Please, provide the following version numbers that your issue occurs with:

- CLI: 3.4.1
- Cross-platform modules: 3.4.1
- Runtime(s): 3.4.1
- Plugin(s):
"nativescript": {
		"id": "com.walmart.sourcing.flip",
		"tns-android": {
			"version": "3.4.2"
		},
		"tns-ios": {
			"version": "3.4.1"
		}
	},
	"dependencies": {
		"@angular/ani

[2018-04-20 07:49] lini commented on #102
I was not able to reproduce the issue in the camera using an iPad running iOS 11.2. I tried using the demo app from this repo and pasted the code you gave in the `main-page.ts` file. The only thing I changed was the `_cameraOptions` parameter and set it to:

[code]

I got the expected output:

[code]

I suggest you try using the demo app to test and updating to the latest NativeScript version(4.0)

[2018-04-20 08:42] lini commented on #101
The dimensions the image asset shows can be incorrect on Android devices. That is why in the demo we convert them to device independent pixels ([toDeviceIndependentPixels()](https://docs.nativescript.org/core-concepts/utils#todeviceindependentpixels-function)).
This way you get the actual image dimensions. For example in Android:

[code]

On iOS, you should get the correct image size when you insp

[2018-04-20 11:16] lini commented on #96
Are you still experiencing this issue? I failed to reproduce the error using the demo from this repository and a Nexus 5 device running Android 5.0.
Try updating to the latest version of the plugin (4.0.2 at the moment) and if you continue to see the error, please fill all the information requested for a new issue (open a new issue to see the template with required information).

[2018-04-20 12:22] andriamanarivo commented on #60
I'm just facing exactly the same issue

[2018-04-25 07:34] technicznyblog commented on #50
Any chance?

[2018-04-25 08:02] radeva commented on #50
Hi @lookzovt @technicznyblog

Could you describe more specific steps of the expected behavior? If the photo won't be taken by pressing a button, when and how it will be taken?

We love PRs, so feel free to create a PR and demo what you suggest.

[2018-04-25 11:16] technicznyblog commented on #50
I would like create app for remotely taking a photo. A kind of ip cam on Android device.
So I need a method to take a photo, and maybe to set focus.

[2018-04-27 07:04] Serge-SDL opened #103 "Image orientation not correct on IOS"
### Which platform(s) does your issue occur on?
iPhone 7 plus iOS 11.3
iPhone 8 iOS 11.2

### ## Please, provide the following version numbers that your issue occurs with:
CLI : 3.4.1
Plugins:
"@angular/animations": "~5.2.0",
"@angular/common": "~5.2.0",
"@angular/compiler": "~5.2.0",
"@angular/core": "~5.2.0",
"@angular/forms": "~5.2.0",
"@angular/http": "~5.2.0",
"@angular/platform-browser": "~5

[2018-04-29 14:30] JijeshP commented on #75
@NickIliev  is there any nativescript plugin available with custom preview feature  ?

[2018-05-02 13:56] JijeshP opened #105 "Convert image to base64"
How can i covert the image to base 64 string after capturing the image

tried the below option but its not working'

`then((imageAsset) => {
      let imageData = imageAsset.toBase64String("jpeg");
      console.log(imageAsset);
    }).catch((err) => {
        console.log("Error -> " + err.message);
    });
  `

[2018-05-09 14:12] JijeshP commented on #105
The below code is working for me !

`then((imageAsset) => {
            let source = new ImageSource();
            source.fromAsset(imageAsset).then((source) => {
                const base64image = source.toBase64String("jpg",60);
            });
        },
        (err) => {
            console.log("Error -> " + err.message);
        });`

[2018-05-09 14:12] #105 closed, assigned to nobody

[2018-05-10 21:59] LorenDorez commented on #101
Yes but how does that help with saving the image in the correct size

[2018-05-10 22:33] erjdriver commented on #101
I'm having the same issue.

The imageAsset itself is still large.

The toDeviceIndependendentPixels() divides the dimension by scale - doesn't resize the image.

[2018-05-10 22:41] erjdriver commented on #101
This seems to be the solution - I want my bitmap to be 1280x1024 or close to it.

        let _width  = platform.isIOS ? 1280 : (1280/platform.screen.mainScreen.scale);
        let _height = platform.isIOS ? 1024 : (1024/platform.screen.mainScreen.scale);

        let options =
        {
            width: _width,
            height: _height,
            keepAspectRatio: true,
            saveToGa

[2018-05-14 14:27] LorenDorez commented on #101
@erjdriver thanks that seems to work for me too

[2018-05-18 07:08] radeva commented on #96
Closing this issue due to inactivity.

[2018-05-18 07:08] #96 closed, assigned to nobody

[2018-05-18 07:09] radeva commented on #101
It seems like the issue is solved with the example above so I'm closing it.

[2018-05-18 07:09] #101 closed, assigned to nobody

[2018-05-18 07:11] radeva commented on #75
Hi @JijeshP , you can check the available plugins on the [NativeScript Marketplace](https://market.nativescript.org/)

[2018-05-18 08:08] ghost opened #106 "not asking for permissions next time after not allowing access"
it's not asking for permissions next time after the not allowing access to camera and images.

what I want is: if user don't allows it for first time, next time when user taps on take image (for example) to show permissions dialog again.

[2018-05-18 11:39] NickIliev commented on #106
@giorgi-abashidze the feature to check for permissions is not part of the nativescript-camera plugin. You could use the [nativescript-permissions](https://github.com/NathanaelA/nativescript-permissions) plugin and its method `hasPermission` to explicitly check if the permissions are given and then implement a logic to ask again when needed.

[2018-05-18 12:44] nsplugins commented on #102
I close this issue due to inactivity.

[2018-05-18 12:44] #102 closed, assigned to nobody

[2018-05-19 12:58] moritzvieli commented on #60
I have the same problem on an HTC. This issue is urgent because I know of no workaround. @NickIliev Can you reopen the issue?

This was OK with nativescript-camera 3.0.0 but fails on version 4.0.2.

[2018-05-20 08:13] moritzvieli opened #107 "Error: Uncaught (in promise): null (reopen Issue #60)"
### Which platform(s) does your issue occur on?
- iOS/Android/Both
- iOS/Android versions
- emulator or device. What type of device?
--> HTC real device with Android 6.0.1

### Please, provide the following version numbers that your issue occurs with:
tns --version
3.4.3

tns-core-modules
3.4.1

nativescript-camera
4.0.2

### Please, tell us how to recreate the issue in as much detail as possible.

[2018-05-21 06:13] NickIliev commented on #60
@moritzvieli can you share a Playground project or a sample application /code snippet that can reproduce the issue - also please post detailed information about the used version of tns-core-modules, nativescript-camera and runtimes (the content of the project's `package.json`)

[2018-05-21 06:25] andriamanarivo commented on #60
I've faced the same issue and the source of the problème is that there was
no folder named camera inside the DCIM folder where the plugins want to
store the pictures. After creating the camera folder, the uncaught promise
error doesn't no longer appear.
Le 21 mai 2018 9:13 AM, "Nick Iliev" <notifications@github.com> a écrit :

[2018-05-21 11:00] moritzvieli commented on #60
@NickIliev I created a playground project and it's working fine there: https://play.nativescript.org/?template=play-ng&id=K9bfFz&v=3

I'm on it, figuring out the differences.

[2018-05-22 05:22] moritzvieli commented on #60
I updated nativescript and the core modules to the latest version and now I'm getting these errors:
JS: ERROR Error: Uncaught (in promise): Asset '/storage/emulated/0/DCIM/Camera/NSIMG_20180522_71532.jpg' cannot be found.
JS: onFailure 63 java.lang.IllegalArgumentException: unknown image format

But it's still not working, compared to the playgrounds version. The code however is still not working

[2018-05-22 05:23] moritzvieli commented on #107
-> Can be closed in favor of reopened issue #60

[2018-05-22 05:23] #107 closed, assigned to nobody

[2018-05-22 17:27] moritzvieli commented on #60
@NickIliev @andriamanarivo is right. as soon as I add the "Camera" folder, everything works fine. Meanwhile, I haven't figured out, why it works on the playgrounds but not on my local project. I tested it using the following setup:

tns --version
3.4.3

tns-core-modules
4.0.1

nativescript-camera
4.0.2

As stated above, It worked with a previous version of nativescript-camera. 3.2.1 is fine for ex

[2018-06-05 09:06] JijeshP opened #111 "Capturing image taking too long in android 7.0"
Which platform(s) does your issue occur on?
- Android
- Version : 7.0

After capturing image device showing black screen for 10-15 seconds.

[2018-06-06 09:43] racknoris commented on #87
Happens also in Galaxy S5, android version 6 (6.0.1), and i pass the options:
`{
        width: 1000,
        height: 1000,
        keepAspectRatio: true,
        saveToGallery: false,
        cameraFacing: "front"
      }`

@wiliarko did you try to pass the `options` json to your `takePicture()`?

[2018-06-11 08:16] Jmchemama commented on #111
Hello, I noticed the same problem.

-  Android
-  NativeScript CLI: 4.1.0.

[2018-06-11 08:19] JijeshP commented on #111
@Jmchemama its bit faster on Android Oreo but still there is a delay

[2018-06-11 11:57] Jmchemama commented on #111
I have test on an s8 and I have more than 10s of black screen. By against a Oneplus6 Oreo I have 5s black screen before returning to the application.
I still find it long.

[2018-06-11 12:06] JijeshP commented on #111
@nsndeck @NickIliev what could be the issue here ?

[2018-06-11 12:30] NickIliev commented on #111
@JijeshP is there any specific code or is this reproducible with the basic demo?

[2018-06-11 12:35] JijeshP commented on #111
@NickIliev No Specific code, it can be reproducible with demo.

[2018-06-11 12:36] shamoh19 commented on #111
![screenshot_20180611-163042](https://user-images.githubusercontent.com/13183784/41231757-32a19fea-6d95-11e8-8ff3-65ffe3c52fec.png)

Facing same issue with demo project

[2018-06-11 13:30] NickIliev commented on #111
@JijeshP @shamoh19 the demo project is creating an `ImageSource` which might cause a delay in some older devices. On another hand, an explicit creation of the image source is not needed in the majority of real-life scenarios (e.g. you could directly bind the image asset).

Try removing the creation of ImageSource and observe if this will resolve your delay issues.
[code]

[2018-06-11 13:52] JijeshP commented on #111
@NickIliev when i remove the above mentioned code its working fine..
Please find my code below.

[code]

How can i achieve this without imageSource.

[2018-06-17 01:42] dpdragnev opened #113 "Strange behavior on Android"
I have a vanilla TS app (version 4.1.2) that is using a drawer in the app-root.  In the drawer, I am showing the logged user's name and some links.

When I open the camera (regardless if I take a picture or press the back button) when the camera closes, my drawer is reset (the name is blank and also the gesturesEnabled is set no false, which is the default for me since I show a login page at first

[2018-06-18 13:21] wanpeng2008 opened #114 "takePicture crash after i update nativescript and core modules"
takePicture crash with errors:
[code]

I try to disable the saveToGallery option, but it still fails with the same error message.

tns info
[code]

AndroidManifest.xml
[code]
xml/provider_paths.xml
[code]

[2018-06-18 14:18] wanpeng2008 commented on #114
it works after i remove the provider section in AndroidManifest.xml

[2018-06-18 14:18] #114 closed, assigned to nobody

[2018-06-18 19:04] dpdragnev commented on #113
It turns out that it does reload the app-root.  I had to reinitialize the model and now everything is working.

[2018-06-18 19:04] #113 closed, assigned to nobody

[2018-06-19 06:25] wanpeng2008 commented on #114
It happens again when i set saveToGallery: true

[2018-06-22 16:12] LorenDorez commented on #101
This seems to only work if i save the Image Asset seperately. If i use the 'SaveToGallery' option the image in the gallery is the full size.

[2018-06-25 21:20] netowp commented on #41
NativeScript 4.1 already supports modal navigation. Should this issue be opened again?

[2018-06-26 06:07] tsonevn commented on #41
HI @netowp,
Can you provide more info about your case and the issue, which you are facing? It will help if you send us sample project, where the problem can be e reproduced. If there is a real issue with the modal page and the camera plugin, we can reopen it.

[2018-07-06 10:45] NickIliev commented on #111
@JijeshP you could use native solution to work directly with the native asset (the `ImageAssset` in NativeScript is `android.graphics.Bitmap` on Android and `UIImage` on iOS).

For example, creating base64 from `android.graphics.Bitmap`

[code]

[2018-07-06 10:45] #111 closed, assigned to nobody

[2018-07-06 13:28] tbozhikov commented on #99
Closing due to inactivity, feel free to reopen if needed

[2018-07-06 13:28] #99 closed, assigned to nobody

[2018-07-08 08:18] shamoh19 commented on #111
how can we achieve this in nativescript angular?

[2018-07-09 09:29] wanpeng2008 opened #117 "Plugin crash when the APP is installed on SD card"
I am trying to install my app on the external storage, but get an error when i attempt to take picture
[code]
It works well if i install the app on the internal storage.

My AndroidManifest.xml is
[code]
Is there anything i mistake?

[2018-07-13 08:20] tgpetrov commented on #117
Hi @wanpeng2008, can you provide a little more details about this issue?
Can you try to reproduce it with the plugin's demo application and let us know how it goes? If the issue is not present in the demo app, give us the code where you are using the image-picker plugin, so we can reproduce it. If you can reproduce it with the demo, let us know if its device or emulator that you are using for test

[2018-07-13 08:48] wanpeng2008 commented on #117
Hi @tgpetrov , Thanks for your response.
I'd like to prepare a demo app to reproduce this issue later.
Once it's ready, i will let you know.

[2018-07-17 13:21] miguelopezv opened #118 "Change message when asking for permissions to access Camera"
I've submitted my app to the App Store and they're asking to change the message that appears the first time you use the camera, and instead display a message that explains why are you requesting access to the camera or what are you going to do with the photo. How can I change this message?

[2018-07-18 06:39] NickIliev commented on #118
@miguelopezv try to manually set the message in your project's `info.plist` file

**_app/App_Resources/iOS/Info.plist_**
[code]

[2018-07-18 07:17] NickIliev commented on #103
@Serge-SDL as far as I understand the `iamgeOrinentation` depends on the EXIF data in the image and by default it will be UP if no EXIF data is present - info [here](https://developer.apple.com/documentation/uikit/uiimage/1624141-imageorientation?language=objc)

[2018-07-18 07:20] NickIliev commented on #106
@giorgi-abashidze as a side note there is no option in iOS to ask for permission second time - this is a native workflow. All you can do is to redirect the user to the Settings page where he should manually grant the permissions. (explained [here](https://stackoverflow.com/a/29980902/4936697))

[2018-07-18 07:20] #106 closed, assigned to nobody

[2018-07-20 17:10] wanpeng2008 commented on #117
Hi @tgpetrov
I figure out that this issue is caused by my incorrect android configuration.
Pls see https://github.com/wanpeng2008/camera-sd-issue

I used to have a file named provider_paths.xml under the folder app/App_Resources/Android/src/main/res/xml
This file has been abandoned and i forget to remove it from the app.
I don't know why this file causes the camera plugin throwing error.

provider

[2018-07-23 20:21] #118 closed, assigned to nobody

[2018-07-25 20:21] ghost opened #119 "i need to know how to get file name use this plugin"
i have problem to get file name from camera capture. any one can teach me how to get file name using this plugin

[2018-07-27 11:11] tgpetrov commented on #117
Hi @wanpeng2008,
As part of the plugin we are also having a `provider_paths.xml` [here](https://github.com/NativeScript/nativescript-camera/blob/master/src/platforms/android/res/xml/provider_paths.xml) and it seems that your's is taking precedence causing the above issue.
If I understand you correctly, you don't need such file and when you remove it, the issue is resoled. In this case I'm closing

[2018-07-27 11:11] #117 closed, assigned to nobody

[2018-07-27 13:09] tgpetrov commented on #119
Hi @jonathanhendra,

The camera plugin doesn't directly provide the path to the image. Here's a helper method that you can use to get the path from the ImageAsset that the takePicture method returns:
[code]
You will need the following imports:
[code]

[2018-07-27 13:09] #119 closed, assigned to nobody

[2018-07-27 19:35] LorenDorez opened #120 "Feature Request: Resize image before saving to Gallery"
It appears the when setting to `saveToGallery` and `height/width` the original image i saved and then resized only for the image asset return call. It should resize the image before saving to the gallery not after it.

[2018-08-10 18:52] leocrawf opened #122 "How to retrieve extra image created by plugin?"
on Android when savetogallery is set to true to get the file path after one takes a picture, you call:
       imageAsset.android
However another image is created also but there is no reference to it in the imageAsset object. Is there a way to get this image? I am trying to get a reference to this image so that I can delete it. In my case it does not have the "NSIMG" prefix. This is the only issue

[2018-08-20 09:43] NickIliev commented on #122
@leocrawf depending on the device manufacturer the gallery save logic might differ but overall you should look for the **_camera roll_** folder on the device ussually [using this](https://stackoverflow.com/a/16993276/4936697)

[2018-08-20 09:43] #122 closed, assigned to nobody

[2018-08-31 12:22] etabakov commented on #120
This behaviour is imposed by iOS and we don't have control over it.

[2018-09-06 12:14] zzador opened #125 "requestPermissions should be blocking"
I'm calling "requestPermissions()" right away before I take a picture. However when I take the first picture after I started the developement session, android presents me 2 confirm-dialogs (camera permissions) while in the background my app is already presenting me an error message that I have not the permissions to use the camera. Only at the second try, when the permissions are already given the

[2018-09-14 12:21] natatatata commented on #50
Hi @radeva, I would like to ask if you have this feature? Or more like adding/implementing a timer in the nativescript-camera? Thanks.

[2018-09-14 19:09] natatatata opened #127 "Image doesn't preview after taking photo with vuejs"
How will you show the image after it was taken? I'm using ### nativescript-vue with '**nativescript-vue-template**' as the template and this is the code I'm using. Thanks!

[code]

[2018-09-28 08:30] gogoout commented on #87
Galaxy S5, android version 6 (6.0.1) +1. I tried to run the demo(which the default width and height is 300) on S5, which takes about 3 times to crash the phone. If I change the size to 900 then Its nearly crashed every time for just 1 photo.

[2018-09-28 10:14] HenryDiesel commented on #87
I've found that when the app goes to the camera it picks it up as leaving the app, and after taking the photo it goes through the app.js file when resuming the app.  Just check if it hits the app.js file, then you just need to stop it from doing anything and it will go back to your last page automatically.

[2018-09-28 13:31] BMwanza opened #128 "Camera being covered by Tabview"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- iOS
- iOS 11.4
- Real Device: iPhone 6

### Ple

[2018-09-29 10:48] gogoout commented on #87
I'm using angular here, doesn't have a choice to change the app.js . But I have tried on 4 android phones now, only the S5 6.0.1 have this issue. The other 3 are  Android 8.0 and  Android 7.0. Not sure if it's related to the OS version.

[2018-10-01 10:11] tsonevn commented on #128
Hi @BMwanza,
Can you send us a sample project, which can be used for reproducing the problem?

[2018-10-01 11:56] BMwanza commented on #128
Sure, here is a .zip of a sample project I just whipped up. Again I'm using the NativeScript tabview template and simply calling the Camera.takePicture() function within a page as the demo app I've attached shows.

Again, the bug seems to appear on physical iOS devices, it works well on Android both physical and real devices. Regarding iOS simulators, it is not possible to tell if the bug occurs g

[2018-10-01 11:58] tsonevn commented on #128
Hi @BMwanza,
Can you attach the project to the issue?

[2018-10-01 12:00] BMwanza commented on #128
Sorry I thought it attatched, looks like the file is too big to be attatched to the issue, I'm going to make a git repo that you can just clone will that work?

[2018-10-01 12:06] BMwanza commented on #128
@tsonevn Sorry for all the confusion, I also accidently closed this disucssion, but here is the project you can just clone it to run it
https://github.com/BMwanza/cameraBug

[2018-10-01 23:06] chrisbekas commented on #128
Having this exact same issue on the device as described; iOS 12, latest {N} and camera plug-in.

[2018-10-02 00:07] BMwanza commented on #128
@chrisbekas Hi Chris, on a side note, I actually messaged you on the NativeScript Slack workspace regarding another issue I saw you were having with the Tabview, if you have a chance please view my message on Slack

[2018-10-03 14:08] KavehR opened #129 "No consistent EXIF data stored in pictures on Samsung Galaxy S7"
The nativescript-camera plugin won't save any EXIF data in pictures on a Samsung Galaxy S7 whereas the Samsung camera app behaves / save them normally. I am trying with the ^4.0.2 version.

I also tried my app on a Motorola G3, and the metadata are properly written in the picture (??).

Any clue about what's wrong and a possible fix ? (Thanks)

I thought the plugin should expose all the camera fun

[2018-10-09 00:12] BMwanza commented on #128
Hey @tsonevn how's this going, any progress? Please let me know if there is any other information I could provide to help assist with resolving this bug.

[2018-10-09 05:52] tsonevn commented on #128
Hi @BMwanza,
The issue is still under review. We will provide the more info when we find how the problem can be solved. Also, any PR, which provides a fix, will be highly  appreciated

[2018-10-22 23:32] BMwanza commented on #128
Hi @tsonevn,

Any update on this? :)

Or is there a way to work around the bug like setting the tabview's visibility to hidden/collpased? It's just a pressing issue because our Development team is looking to submit our app as soon as possible

[2018-10-23 09:14] DimitarTodorov commented on #129
Hi @KavehR,  
This is a known issue with the android camera interface of all Samsung devices. It seems that their camera app doesn't follow some of the standards. The different manufacturers like LG, Motorola, Samsung etc. have different Camera interfaces. The reason that EXIF data is not obtained by the nativescript-camera plugin is in the Samsung’s camera application. The app is different and al

[2018-10-23 09:57] KavehR commented on #129
Hi Dimitar Todorov,
Thank you very much for shedding more light on this issue.
Since I only needed GPS's lat/long, I worked it out for now, by directly using nativescript's geolocation plugin in order to get those values.
It seems a likely more homogeneous solution across all the targets for the moment (at least in my case).
But thanks again for clarifying.

[2018-10-23 10:37] #129 closed, assigned to DimitarTodorov

[2018-10-23 13:09] DimitarTodorov commented on #127
Hi @natatatata ,

You should remove the `function` in the `.then(function(imageAsset) {` and place an arrow `=>` after the parameter imageAsset `.then( (imageAsset) => {`.
Then replace the `var image = new imageModule.Image(); image.src = imageAsset.android;` with `this.image = imageAsset;` This way the code will set directly the `image` variable to the Image tag in the html.
Bear in mind that Nat

[2018-10-23 13:09] #127 closed, assigned to DimitarTodorov

[2018-10-24 10:47] tsonevn commented on #128
Hi @BMwanza,
The fix is already available in the master branch. We will publish a new version of the plugin soon.

[2018-10-24 12:49] BMwanza commented on #128
Awesome!! Thanks so much @tsonevn and @lini on behalf of my entire dev team we really appreciate it!

[2018-10-24 14:15] tsonevn commented on #128
HI all,
The new plugin version available in npm.

[2018-10-24 14:15] #128 closed, assigned to tsonevn

[2018-11-06 07:07] elena-p commented on #98
AC:
- [x] When keepAspectRatio is set to true, treat provided width and height according to screen orientation - in landscape use the bigger of the two values as width and in portrait use the bigger of the two values as height
- [x] When keepAspectRatio is set to false, provide image with the specified dimensions regardless of the screen orientation (current behaviour)
- [x] Demo and angular demo

[2018-11-09 11:52] zbranzov commented on #98
The feature is released in nativescript-camera@4.1.0. Enjoy!

[2018-11-09 11:52] #98 closed, assigned to elena-p

[2018-11-09 11:59] carrbrpoa commented on #98
Actually since I suggested that, I needed to embed the camera with another plugin, because sometimes my app was being "chosen" to be killed in low resources device, when it was to switch to camera app. I know it's Android's behavior, so it was the solution I found.

[2018-11-12 15:48] cfjedimaster opened #139 "Properly document requestPermissions"
As the title says - the docs in the readme do not specify that requestPermissions returns a promise. I lost quite a bit of time trying out figure this out. :\

And here is an example of someone else also having an issue: https://stackoverflow.com/questions/51190059/camera-capture-function-is-not-working-for-ios

[2018-11-12 16:07] cfjedimaster opened #140 "Document Android permission"
In order for this to work on Android, you must add:

[code]

While this is obvious, it really *should* be mentioned in the readme guide.

[2018-11-12 16:27] cfjedimaster opened #141 "NPE with "invoke virtual method""
I'm attempting a simple camera demo app. When I run `takePicture`, I'm getting the error below:

[code]

### Which platform(s) does your issue occur on?
- Android
- Pixel 3 XL

### Please, provide the following version numbers that your issue occurs with:

- CLI: 5.0.0
- Cross-platform modules: 5.0.2
- Runtime(s):5.0.2
- Plugin(s):
[code]

This is the code I've used:

[code]

[2018-11-13 05:47] mahavirvataliya opened #142 "Return Error: cancelled for captured image"
### Which platform(s) does your issue occur on?
- Android
- Android Oreo
- device. Some Particular Devices like one plus and MI A1

I am getting cancel as result in catch when taking the picture from the camera
For particular some devices where result code getting canceled

android.app.Activity.RESULT_CANCELED

[2018-11-13 06:25] mahavirvataliya commented on #142
Sorry I have singleInstance Mode on in AndroidMenifestfile so not returning OK

[Solution Here https://stackoverflow.com/a/49118666/8735680](https://stackoverflow.com/a/49118666/8735680)

[2018-11-13 06:25] #142 closed, assigned to nobody

[2018-11-13 09:43] visiblesoft-es commented on #141
Same error after update to latest version 4.1.0 of camera plugin, NS 5.

[2018-11-13 12:26] jorgeartigas commented on #141
same issue with angular6, ns5 and tns-android 5

[2018-11-13 18:03] rg777 opened #143 "Option for skipping confirm photo screen after clicking photo"
Is there any way to skip the confirmation screen which appears after a photo is clicked by the user?From a UX point of view a screen appearing after the user has clicked the photo may not be a good design.

[2018-11-13 18:34] boris01 commented on #141
Same issue with angular 7 ns 5 and version 4.1.0

[2018-11-13 20:29] akakira commented on #141
Same here angular 7 ns 5 version 4.1, although on the emulator the gallery opens as expected.

[2018-11-14 08:59] luckybharat commented on #141
Same issue

[2018-11-14 15:21] DimitarTodorov commented on #141
The issue is fixed in 4.1.1 of nativescript-camera.
Please update to 4.1.1 of the plugin.

[2018-11-14 15:21] #141 closed, assigned to nobody

[2018-11-16 07:54] zbranzov commented on #140
@cfjedimaster  Both demo apps are working fine on Nexus 5X Android 8.1 even though they don't have this permission added. Why do you think it is a requirement?
You can take permission via code:
[code]

[2018-11-16 11:39] lini commented on #125
The `requestPermissions()` method returns a promise. You must wait for the promise to resolve before trying to take a picture. We will update the documentation to better explain this.

[2018-11-16 11:39] #125 closed, assigned to nobody

[2018-11-16 11:39] lini commented on #139
Apologies for the confusion. The docs will be updated to reflect this.

[2018-11-16 12:12] zbranzov commented on #143
I'm not aware of such an option. In case there is any, we welcome any PR made to the repository.

[2018-11-16 14:50] cfjedimaster commented on #140
In my testing, when I had code that used requestPermissions, _and_ tried to take a picture, I'd see the native prompts ("app wants to blah blah"), but the catch block would fire with: [Error: Application does not have permissions to use Camera]

This is an example of what I was trying:

[code]

[2018-11-19 12:39] zbranzov commented on #140
@cfjedimaster What device do you use when it fails?
Did you try whether demo apps cause the same error?
We are testing on android emulators and real devices using the apps from the repository and haven't seen any problem so far.

[2018-11-19 12:40] #139 closed, assigned to nobody

[2018-11-19 19:51] cfjedimaster commented on #140
Device: Pixel 3 XL.
I did not try demo apps - but I've tried it in two apps so far. The one I just tried had the same error (I mean the catch block throwing).

[2018-11-23 01:54] norainmatidris opened #149 "Use bluetooth button to capture image"
hi.. may i know. how can i use Bluetooth button to capture image instead of i click on capture button on camera?

[2018-11-23 12:03] #120 closed, assigned to etabakov

[2018-11-25 23:01] ngoahamos opened #150 ""Camera" can not be used, please try to allow permissions."
### Which platform(s) does your issue occur on?
- Android
- Android 6.0
- device

### Please, provide the following version numbers that your issue occurs with:

- CLI:  5.0.1
[code]
`import { takePicture, requestPermissions } from 'nativescript-camera';`
[code]
Shows `  "Camera" can not be used, please try to allow permissions.` When i tap on the confirm button after taking the image.

[2018-11-26 17:10] bradmartin opened #151 "Enhancement/Suggestion: open app settings on iOS with config option"
Not an issue 😄 - I'll handle the PR work but wanted to check how the team thinks this should look/behave.

Currently if the permission to use camera is denied the `requestPermissions` method will reject. There are some cases where it would be useful to give the developer control over opening the app system settings.

The barcode scanner plugin takes [this approach](https://github.com/EddyVerbrugge

[2018-11-27 20:04] cfjedimaster commented on #140
Device: Pixel 3 XL.
I did not try demo apps - but I've tried it in two apps so far. The one I just tried had the same error (I mean the catch block throwing).

[2018-11-27 20:04] cfjedimaster commented on #140
I am VERY sorry - I wrote the above comment and never hit enter.

[2018-11-27 20:04] cfjedimaster commented on #140
Oops, or maybe I did in another tab - sorry for the noise.

[2018-11-29 13:37] tbozhikov commented on #150
Hi @ngoahamos, is this reproducible in the demo app of the plugin? I just double checked and it works on my side. Have you set [the permissions in AndroidManifest.xml](https://github.com/NativeScript/nativescript-camera/blob/f8c5182455d4479db00a0b647026efabb243968c/demo-angular/app/App_Resources/Android/AndroidManifest.xml#L18) needed for the app to access the phone storage?

[2018-11-29 14:04] tbozhikov commented on #151
Hi @bradmartin, this sounds like a good enhancement to me, so go for it! Indeed it would be convenient for users of the plugin to easily enable the app users to give permissions a bit easier if such have been previously denied.
Just to be consistent, maybe we should leave the default value to `openSettingsIfPermissionWasPreviouslyDenied = false`, so that the plugin behavior stays the same (not ope

[2018-11-30 18:45] German1293 opened #153 "The first time that i tried to take a picture, it failed in ios and android"
Versions
nativescript-camera -->>4.1.1
nativescript
  "tns-ios": {
      "version": "4.2.0"
    },
    "tns-android": {
      "version": "4.2.0"
    }
<img width="281" alt="captura de pantalla 2018-11-30 a la s 12 43 15" src="https://user-images.githubusercontent.com/44504329/49308403-cc558680-f49d-11e8-9713-aeb52cca542a.png">

##The problem is that after taking a photo, when you close the camera,

[2018-11-30 18:48] German1293 commented on #153
#

[2018-12-03 09:21] lini commented on #153
`The specified child already ...`  exception should be fixed in the latest version of the `tns-core-modules`  (5.0.5 at the moment). Please update your app or test using one of the demo applications in this repository, which already use it.

[2018-12-05 19:25] DKhalil commented on #140
@cfjedimaster hey, so there are quite a few files containing the permissions. Which file did you add it to?

[2018-12-17 08:56] #153 closed, assigned to nobody

[2018-12-17 09:15] elena-p commented on #150
Closing the issue due to inactivity

[2018-12-17 09:15] #150 closed, assigned to nobody

[2018-12-21 10:46] jokro commented on #86
I am experiencing android moto g6 still saving to gallery when the flag is set to false. So why is the bug label removed ?

[2018-12-24 14:23] jokro commented on #74
I find that takepicture saves a copy at two different locations (apart from the location where I want to save the image), both with different names. This may explain why memory is growing three times the amount you would expect. Besides, bothextra  location are public, i.e. visible from outside the app, which may be a problem if you want to keep its content hidden. Removing the two copies poses so

[2018-12-28 13:31] jokro commented on #86
[Here](https://developer.android.com/training/data-storage/files#WriteExternalStorage) it is written

[2019-01-08 09:39] MaxiSonntag opened #160 "Feature request: Video recording"
Hey there,
as far as I can see this plugin only supports taking pictures, not videos. I know there are some community plugins to achieve this, however I always prefer using official plugins, as I can be sure they are well maintained.

Video recording is one very basic functionality of the device camera, therefore I think the official camera plugin should support this.

If there are any reasons aga

[2019-01-15 11:10] Sam-Davis opened #161 "Camera does not offer tick nor cross to accept photo after accepting permissions and taking photo"
### Which platform(s) does your issue occur on?
Android
- emulator or device. What type of device?
I have tried this on 5 different emulator devices

### Please, provide the following version numbers that your issue occurs with:

- CLI: 5.0.1
- Cross-platform modules: 4.0.1
- Runtime(s): 4.0.1
- Plugin(s):
 "dependencies": {
    "@angular/animations": "~5.2.0",
    "@angular/common": "~5.2.0",

[2019-01-16 11:09] lord-saumagen opened #162 "Error in "index.d.td" for function "requestPermissions""
Dear Ladies and Gentlemen,

it came to my attention that the definition of the "requestPermission" function is erroneous.
The function is implemented as an asynchronous function for android as well as for IOS. See
the pictures below.

![image](https://user-images.githubusercontent.com/9468599/51244902-850c5200-1986-11e9-8a0a-ced45f9c8fd3.png)

![image](https://user-images.githubusercontent.com/946

[2019-01-18 19:36] stevenspiel commented on #161
I'm also experiencing this

[2019-01-20 15:04] salamohamad commented on #105
on iOS device I get an error saying 'Error -> Can\'t find variable: imageSource'
am I doing something wrong?

[2019-01-20 18:42] mishakrul commented on #160
I would like to work on this feature if it's still up for grabs.

[2019-01-21 12:00] mkrul commented on #160
I'd like to work on this feature if it hasn't been claimed yet.

[2019-01-22 05:53] tsonevn opened #164 "nativescript-mediafilepicker conflicts with nativescript-camera"
@jokro commented on [Tue Jan 22 2019](https://github.com/NativeScript/NativeScript/issues/6813)

[code]
FAILURE: Build failed with an exception.
I ran tns plugin add nativescript-mediafilepicker, removed and reinstalled android and ran in VS, Then the following error turned up:
C:\Users\Jokro\Software\NativeScript\mappi\platforms\android\app\src\main\AndroidManifest.xml:19:17-55 Error:

	Attribute

[2019-01-22 13:48] DimitarTodorov commented on #161
Hi @Sam-Davis

I can confirm that there is indeed an issue with camera-plugin. We are going to put the bug in our plan and will provide a fix for it. You can follow this thread for further information, I'll post here once a fix is available.

[2019-01-28 12:34] konradkluzniak opened #165 "Cancel event"
### Cancel Event

Hi. I'm trying to find anything in the docs that point me in the right direction but i'm unable to find anything, so i want to ask, if it's any way to capture an event when user tapped Cancel text instead of doing a photo ? Thank you.

[2019-01-28 12:58] NickIliev commented on #165
@konradkluzniak there is no cancel event. Marking this one as a feature request

[2019-01-28 13:03] konradkluzniak commented on #165
Thank you Nick.
I have some bottom navigation that is present in root frame.

<Page xmlns="http://www.nativescript.org/tns.xsd" loaded="load" id="test" >
<GridLayout rows="*,60" class="c1" id="nawRows">

    <Frame defaultPage="sign/sign" id="dashboard" class="c2"></Frame>

    <GridLayout row="1" class="xx">
        <StackLayout verticalAlignment="bottom" row="2" class="bottom-nav">
            <

[2019-01-29 17:00] girgalicious commented on #141
I'm still getting an error even though I have upgraded the plugin to 4.1.1

[code]
**Which platform(s) does your issue occur on?**
Android 8.1.0.
Plum Compass 2 Z518

**Please, provide the following version numbers that your issue occurs with:**

[code]
**Code used:**
[code]

**package.json:**

`
  "dependencies": {
    "base-64": "^0.1.0",
    "nativescript-background-http": "^3.3.1",
    "native

[2019-01-30 10:21] konradkluzniak commented on #165
Or maybe there is any way just to remove this Cancel text ? Thank you.

[2019-01-30 11:27] konradkluzniak commented on #165
I've noticed that takePicture() catch exception is thrown when Cancel is pressed so my issue is resolved as i can use this catch to do what i need. Cheers.

[2019-02-03 15:52] driemworks opened #168 "ar"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- iOS/Android/Both
- iOS/Android versions
- emula

[2019-02-03 17:18] #168 closed, assigned to nobody

[2019-02-03 17:18] driemworks commented on #168
This issue was opened accidentally as my cat stepped on the keyboard.

[2019-02-04 16:14] Sam-Davis commented on #161
We have tried to implement a workaround for this bug, but it appears that this bug is a blocker. We implemented the permissions check in a previous page:

[code]

which we hoped would mean that the following does not ask for permissions:

[code]

However, it just means that it only asks for the location. The permissions check ( `camera.requestPermissions().then` will ask two questions relating to

[2019-02-05 14:12] Sam-Davis commented on #161
On further investigation, this bug has a lesser impact than previously thought.

It breaks when you open the camera on a device for the first time and it says:

"Allow camera to access this device's location?" (photo location question)

It then redirects the user back to the camera app after allowing permission, rather than back to the nativescript app.

If the user first opens the camera app on t

[2019-02-06 11:44] mkrul commented on #160
Still working on getting NativeScript and related dependencies set up.  Been having problems with `tns doctor` complaining that `adb from the Android SDK is not installed or is not configured properly`, even though I have my PATH pointing to it.

**EDIT:** just got the green check from `tns doctor` that no issues were detected.  Moving on...

[2019-02-08 07:50] VladimirAmiorkov commented on #165
@konradkluzniak Thank you for sharing your solution with us. I am leaving this thread open for now, we will see how we can improve this functionality as soon as possible.

[2019-02-08 07:56] VladimirAmiorkov commented on #160
@mkrul Awesome, we are awaiting your contribution if you have any questions both regarding the _nativescript-camera_ plugin or NativeScript in general we are here to assist you. Also can you share with us what solution of the  above `adb from the Android SDK is not installed or is not configured properly` error was on your end, we are aways trying to improve our "Getting Started" experience and du

[2019-02-08 10:03] mkrul commented on #160
Hi @VladimirAmiorkov , thanks for following up. ([It wound up being a PATH issue after all](http://www.mishakrul.com/2019/02/06/warnings-from-tns-doctor/)).  Chock it up to lack of experience on my part;  I'm sure a more experienced dev would've noticed this immediately.  The Linux Setup guide says that the path needs to be `export ANDROID_HOME="/usr/lib/android/sdk"` but in my case`.android/sdk`

[2019-02-09 22:25] mkrul commented on #160
Unfortunately I'm going to have to put this one back on the shelf.  I am lacking the free time to make any meaningful progress on this ticket :disappointed:.   Someone else should take it.

[2019-02-12 10:41] ekkiiiii opened #170 "NullPointerException when calling takePicture on application startup"
Hey, I have been having issues getting a camera view to open up open application startup. When i run the application on the device i get the following error:
`JS: Error:  Error: java.lang.NullPointerException: Attempt to invoke virtual method 'int   android.content.Context.checkPermission(java.lang.String, int, int)' on a null object reference
JS:     android.support.v4.content.ContextCompat.check

[2019-02-12 11:07] ekkiiiii commented on #170
I have found out that I can work around this issue by adding a (1 second) timeout before opening the camera in the constructor. It then works but the behaviour still differs from what I would expect it to be.

[2019-02-15 13:47] tgpetrov commented on #170
@ekkiiiii
You should request permission to access the camera before trying to take picture as shown in the demo application:
https://github.com/NativeScript/nativescript-camera/blob/f8c5182455d4479db00a0b647026efabb243968c/demo-angular/app/app.component.ts#L21
Write back if you need further assistance.

[2019-02-15 16:29] #164 closed, assigned to zbranzov, VladimirAmiorkov

[2019-03-01 11:58] tgpetrov commented on #140
The usage of CAMERA permission is included in the aar file that is included in the plugin's 'platform/android' directory, so it is not necessary to include it in the application's manifest.

I created a [playground](https://play.nativescript.org/?template=play-ng&id=G82tIg) with the provided code, but had no issues with the permissions when running the app. I also downloaded the playground app and

[2019-03-01 11:59] #170 closed, assigned to nobody

[2019-03-01 14:25] tbozhikov commented on #103
Closing due to inactivity

[2019-03-01 14:25] #103 closed, assigned to NickIliev

[2019-03-05 13:51] tgpetrov commented on #162
Hi @lord-saumagen,
Thank you for your feedback. The change is made and will be included in the next release of the plugin.

[2019-03-05 13:51] #162 closed, assigned to nobody

[2019-03-07 11:11] NickIliev commented on #149
Closing as how-to related. Please use the community channels for how-to-related questions (e.g. [SO](https://stackoverflow.com/questions/tagged/nativescript))

[2019-03-07 11:11] #149 closed, assigned to nobody

[2019-03-07 14:23] kumaratc commented on #35
"nativescript-camera": "^4.1.1"

I am using the latest version and the problem is still repeated and even when i access camera i dont want the app to ask permissions to access gallery. how can we resolve these problems i am using ios.

[2019-03-15 08:58] tgpetrov commented on #161
Hi @Sam-Davis,
I can confirm your observations.

On android the camera plugin is using an [Image Capture intent](https://developer.android.com/reference/android/provider/MediaStore.html#ACTION_IMAGE_CAPTURE) to take an image through a camera app installed on the device. The expected behavior is that the user doesn't leave the app while doing the image picking. However it seems that since API24, th

[2019-03-15 08:59] #140 closed, assigned to nobody

[2019-03-21 20:55] msaravitz opened #180 "Add allowsEditing flag for iOS"
Add the allowsEditing flag for iOS. The allowsEditing flag is helpful for ensuring the image is square (this also lets them choose which part of the photo is in the square) and allows the user to "zoom in/crop" even after the photo has been taken.

Current:
![nativescript-camera](https://user-images.githubusercontent.com/16619557/54784126-7433c300-4bf9-11e9-974f-d4d13a0a04fb.png)

With allowsEditi

[2019-03-25 13:59] DimitarTodorov commented on #180
Hi, @msaravitz
The feature is now available in nativescript-camera@4.4.0, which is published in npm.

[2019-03-25 13:59] #180 closed, assigned to nobody

[2019-03-27 09:23] Davidzhu001 opened #187 "can you guys add face detection to this ?"
can you guys add face detection to the camera function like expo or react native?

[2019-03-28 13:59] NickIliev commented on #187
@Davidzhu001 this would require MLKit which is beyond the simple camera functionalities. However the plugin nativescript-plugin-firebase is coming with MLKit functionality and this said there is already a face detection implementation - see [here](https://twitter.com/eddyverbruggen/status/994627242524332032?lang=bg)

[2019-03-28 14:03] Davidzhu001 commented on #187
@NickIliev thanks so muh.

[2019-04-05 13:09] #187 closed, assigned to nobody

[2019-04-08 06:52] Mubashir-Mohamed opened #189 "Android: Camera doesn't respond after taking Photo."
### Make sure to check the demo app(s) for sample usage
Yes I tried
### Make sure to check the existing issues in this repository
No, I couldn't find any.
### If the demo apps cannot help and there is no issue for your problem, tell us about it

After taking Photo and pressing the tick it takes time and a black screen appears before it come backs to our application. As it is taking time( not respo

[2019-04-10 07:14] ghost opened #190 "Version update issue: ReferenceError: androidx is not defined"
After version update of nativescript-camera ^4.3.0 to ^4.4.0, I am getting runtime error like below:
Can someone please fix it?

`Project successfully built.
Installing on device emulator-5554...
Successfully installed on device with identifier 'emulator-5554'.
Restarting application on device emulator-5554...
TNS.Native: NativeScript Runtime Version 5.1.0, commit 4497f43b69cb57ce65ece2aac5b98b201

[2019-04-10 12:18] elena-p commented on #190
Hi @ruchitaecor,

Could you try to delete your node_modules and platforms folders and build again?
I checked the demo projects in the repo with both 5.1.0 and 5.3.0 android runtimes and everything works fine.
The androidx error could be connected with the latest version of nativescript-permissions plugin (which is a dependency of the camera plugin) and not connected to updating nativescript-camera

[2019-04-10 12:49] elena-p commented on #189
Hi @Mubashir-Mohamed,

I was not able to reproduce the described behaviour in the demo projects in this repo. Do you observe the behaviour in any of the demo projects (demo, demo-angular or demo-vue)? If not, could you provide us with another sample project that we could you to reproduce the issue?

I notice that you use old version of tns-core-modules - could you update to 5.2 so that it correspo

[2019-04-10 13:58] ghost commented on #190
@elena-p

Thanks for the reply. I removed node_modules, platforms, and hooks almost 7 to 8 times to find the issue in my existing project. Yes, you are right it related to nativescript-permissions plugin which is a dependency of nativescript-camera plugin. This I found in error log after much deep concentration. Then I just revert nativescript-camera plugin to version 4.3.0 again and everything wo

[2019-04-12 03:46] jonatandorozco commented on #50
Any progress on this?

[2019-04-30 10:47] Huc91 opened #193 "application.currentContext is deprecated"
- Android versions
- device: Nexus 5x

- CLI: 5.3.4
- Cross-platform modules: 5.3.1
- Runtime(s): 5.0.0
- Plugin: "nativescript-camera": "^4.4.0",

Run a new project with the nativescript-camera plugin, returns in console:

[code]
The plugin works, but since deprecated stuff tends to be removed some day, it would be cool to fix this in the future

[2019-05-02 07:16] #190 closed, assigned to nobody

[2019-05-02 07:17] elena-p commented on #189
closing due to inactivity

[2019-05-02 07:17] #189 closed, assigned to nobody

[2019-05-02 10:01] warlog3 commented on #105
I'm facing the same issue @salamohamad

[2019-05-09 10:51] zbranzov commented on #193
Released in version 4.4.1.

[2019-05-09 10:51] #193 closed, assigned to zbranzov, elena-p

[2019-05-14 07:23] tgpetrov opened #197 "Make the plugin compatible with AndroidX"
### Please, tell us how to recreate the issue in as much detail as possible.
If the plugin is added to an app using the _androidx_ versions of _tns-core-modules_ and _tns-android_, the app won't be working.

[2019-05-14 18:27] fpaaske opened #199 "FileNotFoundException after accepting image"
### Which platform(s) does your issue occur on?

Android 9
but so far only on Huawei P30 Pro and Samsung S10

### Please, provide the following version numbers that your issue occurs with:
$ tns info
✔ Getting NativeScript components versions information...
✔ Component nativescript has 5.3.4 version and is up to date.
✔ Component tns-core-modules has 5.3.2 version and is up to date.
✔ Component tn

[2019-05-14 18:42] fpaaske commented on #199
After hours of testing all the different models above with a number of different `CameraOptions`, it seems like the one I didn't test was the one most obvious to test: `saveToGallery: false`

        const options: CameraOptions = {
          width: this.imageSize,
          height: this.imageSize,
          cameraFacing: 'front',
          allowsEditing: true,
          keepAspectRatio: true,

[2019-05-16 10:33] DimitarTodorov commented on #197
https://github.com/NativeScript/nativescript-camera/releases/tag/v4.5.0

[2019-05-16 10:33] #197 closed, assigned to nobody

[2019-05-22 15:49] xeoncross opened #202 "Advanced features like ISO or shutter control"
Android provides `android.hardware.Camera.Parameters` as a way to see what additional options are available for setting manual exposure for the camera (I'm not sure what the [iOS version is](https://developer.apple.com/documentation/)). I would like to put in a feature request for exposing read/set access to direct `Camera.Parameters` for devices since nativescript already has the whole API servic

[2019-05-31 15:09] ashokch8 opened #205 "in ios camera not opening after giving permissions also"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- iOS/Android/Both
- iOS/Android versions
- emula

[2019-06-03 12:45] DimitarTodorov commented on #205
Hi @ashokch8,

Can you please send us more information about the issue you are mentioning. Our builds are passing and the issue is not represented in our demos. Please send us a sample project and/or steps to reproduce. Also filling the Issue Template is something we kindly ask, in order to classify it easily.

[2019-06-23 10:20] OPADA-Eng commented on #141
same error for android 8.

[2019-06-25 03:59] job111 opened #209 "TypeError: Cannot read property 'getDensity' of null"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- Android
- Android version 5.4.0
- emulator

###

[2019-07-03 15:42] jorwoody opened #210 "iOS - Camera not opening after giving permissions"
### Which platform(s) does your issue occur on?
- iOS
- device.
-- Tested on Browserstack app-live (real device cloud) with iPhone XS/8/6.
-- Seems to affect all iOS versions.

### Please, provide the following version numbers that your issue occurs with:

- CLI: (run `tns --version` to fetch it)
5.3.1

- Cross-platform modules:
5.4.3

- Runtime(s):
    "tns-android": {
      "version": "5.4.0"

[2019-07-05 10:21] DimitarTodorov commented on #205
Closing due to inactivity.

[2019-07-05 10:21] #205 closed, assigned to nobody

[2019-07-05 13:34] VladimirAmiorkov commented on #210
Hi,

I was not able to reproduce this issue in our demo-angular application. In our test app when you correctly chain the `requestPermissions()` Promise and its `.then` call the `takePicture()` it is correctly executed after like it is shown [here](https://github.com/NativeScript/nativescript-camera/blob/9cecdbccc45c5e5c1ccebc32ee2e942ffa2a9122/demo-angular/app/app.component.ts#L22-L55).

Can you

[2019-07-09 14:01] jorwoody commented on #210
Thanks for the response @VladimirAmiorkov . I had implemented this plugin using TypeScript's async/await functionality... but it seems that for some reason this strategy does not work for iOS permissions request.

Before I attempted to create a runnable example project, I tried following the pattern used in the demo application (chaining promises/callbacks) and it worked. Strange, but it works tha

[2019-07-09 14:04] VladimirAmiorkov commented on #210
Indeed it is not usual to that this is not working for iOS only. If you can send me a runnable project I would be happy to review it and see if there is something that could be done to help out in this scenario.

[2019-07-09 14:10] jorwoody commented on #210
@VladimirAmiorkov I have started working on an example project, so I will try and finish that when I have time in the coming weeks.

[2019-07-09 16:17] vicmasa commented on #26
Hello everyone, I am currently capturing images with the camera, both on Android and IOS, it is not possible to change the size of the image. I await your suggestions. regards

![Captura de pantalla 2019-07-09 a la(s) 11 14 17](https://user-images.githubusercontent.com/34837622/60905590-fdb7e100-a23a-11e9-9db2-d72444682cec.png)

`{
  "nativescript": {
    "id": "org.invianinternational.ViiAMonitor

[2019-07-09 17:43] msn444 commented on #87
Anyone working on this? I'm experiencing the same thing on a Google Pixel 3.

[2019-07-10 14:56] elena-p commented on #209
Hi @job111,

We are not able to reproduce the issue in any of the demo projects in this repo. Could you send us a demo app where the error appears?

[2019-07-26 07:15] map7 opened #213 "Feature request: Save a thumbnail"
When saving the image to the gallery it would be nice to also save a thumbnail image and return that for use in listings. Also allow the size of the thumbnail to be changed.

[2019-07-26 10:24] elena-p commented on #209
Closing due to inactivity

[2019-07-26 10:24] #209 closed, assigned to nobody

[2019-08-28 13:41] quixote15 commented on #75
Is this feature coming any soon? I have been working with NS for a while and now I have to create a custom preview like so:

![image](https://user-images.githubusercontent.com/12732779/63859865-82db8e80-c97e-11e9-9ca9-5f8cfbc0f190.png)

I tried looking for other available camera plugins as @radeva suggested but they are basically forks of this repo and have no major changes (Therefore no progress

[2019-09-09 07:49] PashaArkus opened #221 "The app crashes periodically"
### Which platform(s) does your issue occur on?
- Android
- 7.1.2, 6.0.1, 9.1
-  What type of device? device

### Please, provide the following version numbers that your issue occurs with:

- CLI:6.1.0
- Cross-platform modules: 6.1.0
- Runtime(s): "tns-android": {
      "version": "6.1.0"
    }
- Plugin(s): "dependencies": {
    "nativescript-camera": "^4.5.0",
    "nativescript-google-maps-sdk":

[2019-09-13 06:51] kdmakwana43 opened #222 "saveToFile not showing images into gallery"
Hello, I created a nativescript  app for camara related app. I am taking a photo using `nativescript-camara` module.

once user take a photo I am showing that image preview, as well as user can rename that image name. When user save that image I stored into a specific folder and removing preview image which stored by `nativescript-camara` module.

after that, i can see that image in the gallery bu

[2019-09-13 07:01] kdmakwana43 commented on #222
Here is my code for save image
[code]

[2019-09-16 12:01] PashaArkus commented on #87
Same problem on Xiaomi phones

[2019-09-16 12:05] PashaArkus commented on #221
Is this issue being addressed?

[2019-09-16 13:34] elena-p commented on #221
Hi @PashaArkus,

It seems that these errors are caused by the `nativescript-google-maps-sdk` plugin - https://github.com/dapriett/nativescript-google-maps-sdk/issues/206. You could try the workaround provided by @shiv19 - https://shiv19.com/how-to-fix-nativescript-google-maps-sdk-map-view-crash-inside-scroll-view/

[2019-09-16 13:35] #221 closed, assigned to nobody

[2019-09-17 14:09] elena-p commented on #210
closing due to inactivity

[2019-09-17 14:09] #210 closed, assigned to nobody

[2019-09-17 14:23] PashaArkus commented on #221
Hi. Unfortunately your decision did not help me

[2019-09-24 20:07] kdmakwana43 commented on #222
Finally! i solved this issue, I scanned media and its done. Here is my code.

[code]

[2019-09-24 20:07] #222 closed, assigned to nobody

[2019-10-01 11:55] rubenassink commented on #105
Anyone fixed it?

[2019-10-02 12:21] LisikXp opened #223 "Crash app"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- iOS/Android/Both
- iOS/Android versions
- emula

[2019-10-02 12:26] LisikXp opened #224 "Crash app"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- Android

### Please, provide the following vers

[2019-10-03 10:55] PashaArkus commented on #224
The error was in line 87 in the camera.android.js file in the camera plugin, when commenting which everything starts to work stably.

[2019-10-03 11:56] PashaArkus commented on #224
![Screenshot_8](https://user-images.githubusercontent.com/51406473/66124793-088dd200-e5ee-11e9-89b6-6a87fa31668d.png)

[2019-10-03 19:38] butaminas opened #225 "After taking a picture, I get an error 'cancelled'"
### Which platform(s) does your issue occur on?
- Android
- 10.0
- emulator. Pixel 3a

I'm developing an app on nativescript-vue and using this particular package on a onShowFileChooser event by extending the WebChromeClient.

The idea is to make the camera to show when clicking a `<input type='file' />` button on a webview.

First of all, I request user permissions on load like this:
[code]

Then

[2019-10-06 22:58] edrick27 opened #226 "No v4 support"
I am using nativescript v6, and   "nativescript-camera": "^4.1.1". when i try to use camera console show  No v4 support. the code is:

requestPermissions().then( () => {
                takePicture({ width: 300, height: 300, keepAspectRatio: true, saveToGallery: this.saveToGallery })  .then((imageAsset: any) => {
                        this.SavePictures(imageAsset);
                    }, (error)

[2019-10-07 21:15] RacknerFrank commented on #223
@LisikXp did you fix this issue? Particularly for iOS

[2019-10-08 07:47] LisikXp commented on #223
everything works fine on ios, the problem is on android

[2019-10-09 11:17] xsterlas commented on #226
@aaayushsingh - "add the latest nativescript-permissions lib to your project and import it anywhere. This will fix the issue"
This solution from other issue works perfectly: [https://github.com/NativeScript/nativescript-geolocation/issues/246](https://github.com/NativeScript/nativescript-geolocation/issues/246)

[2019-10-10 13:20] #226 closed, assigned to nobody

[2019-10-10 13:24] #223 closed, assigned to nobody

[2019-10-15 08:18] izub opened #227 "Taking picture from dialog not working on iOS"
### Which platform(s) does your issue occur on?
iOS 12.4.1 on iPhone 8

### Please, provide the following version numbers that your issue occurs with:
- CLI: 6.1.1
- Cross-platform modules: 6.1.1
- Runtime(s): tns-ios: 6.1.1
- Plugin(s): nativescript-camera: 4.5.0, nativescript-angular: 8.2.1

### Please, tell us how to recreate the issue in as much detail as possible.
Given a nativescript angular

[2019-10-29 11:04] AtoianAvetik commented on #225
Have the same issue:

- NS 6.1.1
- Android
- 10.0 (API 29)
- emulator: Pixel 3

Also, when tried to select some image from gallery, get another error:
`[ERROR] Asset '/storage/emulated/0/Download/image.jpg' cannot be found.`

[2019-10-29 11:10] butaminas commented on #225
Still don't know the reason for this to happen but the only thing that worked for me was to downgrade to Android 8.0 (API 26) Pixel 2 and I've also selected `CPU/ABI` to be `x86_64` instead of `x86` (don't know if this had to do anything with it though).

[2019-10-29 12:16] PashaArkus commented on #224
I understand that this error is not solved?

[2019-11-01 04:25] dengyy-cq commented on #225
in camera.android.js
addline:
nativeFile.getParentFile().mkdir();

![image](https://user-images.githubusercontent.com/33111348/68002205-99fe6b80-fca2-11e9-9c8e-f0a944208534.png)

[2019-11-01 11:02] AtoianAvetik commented on #225
@dengyy-cq Thanks for reply, but your solution didn't help.

[2019-11-01 12:45] DimitarTodorov commented on #227
Hi @izub
Can you please share us an example or code sample where the issue can be reproduced?

[2019-11-01 13:34] DimitarTodorov commented on #224
Hi @LisikXp

Can you please share a sample project where the issue can be reproduced, since we are not able to reproduce such issue testing the demo-vue in this repository.

[2019-11-01 13:53] DimitarTodorov commented on #225
Hi @butaminas ,

Can you please share a sample project with the mentioned setup where we can reproduce and eventually investigate and solve the issue you are observing.

[2019-11-01 14:51] DimitarTodorov commented on #224
Hi @LisikXp

I've tested the demo-vue on Xiamoi device with nativescript-google-maps-sdk plugin added as a dependency and was not able to reproduce an app crash. Can you share sample project and the package.json of the app where we can reproduce and eventually solve the mentioned issue.

[2019-11-04 07:36] LisikXp commented on #224
That's my code: https://drive.google.com/file/d/1xLwUtCHhq7F_j8IkdIymRsM9quZAnPY5/view?usp=sharing

[2019-11-06 06:42] uzarsalan commented on #225
Same issue

[2019-11-13 11:49] PashaArkus commented on #221
This [video](https://drive.google.com/file/d/18KupocmBGixBCse6XkI-7mt9idAZH6ga/view) shows how the application works

[2019-11-13 11:50] PashaArkus commented on #224
This [video](https://drive.google.com/file/d/18KupocmBGixBCse6XkI-7mt9idAZH6ga/view) shows how the application works.

[2019-11-18 13:21] SpurguX opened #232 "Bitmap rotation is very slow on XCover4, add a config option to bypass rotation?"
### Which platform(s) does your issue occur on?
- Android, version 9, API level 28
- What type of device? Samsung Galaxy XCover 4 (SM-G390F)

### Please, provide the following version numbers that your issue occurs with:

- CLI: 6.0.2
- Cross-platform modules: 6.2.1
- Runtime(s): 6.0.2
- Plugin(s):

 "dependencies": {
    "@vue/devtools": "^5.0.6",
    "axios": "^0.19.0",
    "date-fns": "^2.7.0",

[2019-11-19 11:01] Willhay108-imprint opened #233 "Native camera crashing on Sony Xperia devices"
### Which platform(s) does your issue occur on?
Android, specifically Sony Xperia devices.

### Please, provide the following version numbers that your issue occurs with:

- CLI: 6.0.3-2019-08-01-075532-13733
- Cross-platform modules: 1.0.0
- Runtime(s): 6.0.2(android), 6.1.1(ios)
- Plugin(s): "nativescript-camera": "^4.5.0",

### Please, tell us how to recreate the issue in as much detail as poss

[2019-11-23 15:09] erkanarslan opened #234 "Camera stays behind page content if opened in nested page-router-outlet"
### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

I have a nested page-router-outlet configuration in my app. Root component template has a page-router-outlet. Child page has the following template:

[code]
I load a child page inside the page-router-outlet shown insi

[2019-12-02 13:44] sepccom opened #235 "Select Photo from Gallery"
Is it possible to select a photo from Gallery instead of with the Camera?

[2019-12-03 10:34] Luonnotar commented on #225
Hey! I had the same problem, solve it with this solution :
Adding in the AndroidManifest.xml
<application
  ...
    android:requestLegacyExternalStorage="true"
  ...
</application>

Found [here](https://github.com/NativeScript/nativescript-imagepicker/issues/309)

[2019-12-03 12:38] lini commented on #235
Yes, it is possible to select an existing photo, but you need to use another plugin - [nativescript-imagepicker](https://www.npmjs.com/package/nativescript-imagepicker).

[2019-12-03 12:39] #235 closed, assigned to nobody

[2019-12-16 23:03] raphaelnm commented on #225
Same issue here. Tried your solution @Luonnotar , but it does not build.

_BUILD FAILED in 15s
Unable to apply changes on device: emulator-5554. Error is: Command ./gradlew failed with exit code 1._

[2020-01-07 11:13] flodaniel opened #236 "Camera not working with Android 10 and singleInstance Launch mode"
### Which platform(s) does your issue occur on?
- Android 10

### Please, provide the following version numbers that your issue occurs with:

- CLI: 6.2
- Cross-platform modules: 6.2

### Please, tell us how to recreate the issue in as much detail as possible.
Describe the steps to reproduce it.

Open the camera and take a picture.
The plugin will return the error "cancelled"
This only happens on

[2020-01-14 22:27] anthonywebster commented on #236
i have the same problem :(

[2020-01-14 23:03] anthonywebster commented on #236
i foud this answer:  it seems like the one I didn't test was the one most obvious to test: saveToGallery: false.

const options: CameraOptions = {
      width: this.imageSize,
      height: this.imageSize,
      cameraFacing: 'front',
      allowsEditing: true,
      keepAspectRatio: true,
      saveToGallery: false // <-- this did the trick
    };

[2020-01-20 20:18] AdamAtri commented on #236
pull request for fix: https://github.com/NativeScript/nativescript-camera/pull/237/commits/dc4b9ebb5729f17eb3c687120df36f34b86b702f

[2020-01-21 19:51] AdamAtri commented on #225
pull request for fix: https://github.com/NativeScript/nativescript-camera/pull/237

[2020-01-22 14:05] fpaaske commented on #60
**Update**: I was looking at the wrong place, it turns out we're using another plugin for picking images, which has this bug, which could be related. https://github.com/NativeScript/nativescript-imagepicker/issues/309

It also has a workaround, so please ignore my comment below :)

---

I just ran into this issue when trying to select an image from the library:

JS: ERROR Error: Uncaught (in promi

[2020-01-22 17:43] AdamAtri commented on #224
pull request for fix: https://github.com/NativeScript/nativescript-camera/pulls

[2020-01-28 14:56] james-wynne-dev commented on #141
I get the same issues, although I don't when I try the demo app even though I can't see any difference in the two. For me the problem seems to be around the permission. If I grant permission on the first attempt then everything is fine. If I don't, if I deny permissions on the first attempt then give permissions subsequently I get this error. There is also another plugin in my app (ML Kit) that us

[2020-02-04 14:31] PashaArkus commented on #233
this problem exists on other devices, even on some iphone

[2020-02-06 11:13] filipkrystl opened #238 "---"

[2020-02-06 11:28] filipkrystl commented on #238
Wrong plugin sorry :(

[2020-02-06 11:28] #238 closed, assigned to nobody

[2020-02-19 13:52] #236 closed, assigned to nobody

[2020-02-22 06:22] manikandan231 opened #239 "how to access photo taken location"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- iOS/Android/Both
- iOS/Android versions
- emula

[2020-02-27 09:04] wesoly935 opened #240 "[Android] Bad resolution for pictures in hight resolution"
For example taken photos in 8 Mpx resolution (3264x2448) returning ImageAsset in resolution 1920x1080.

Changing options keepAspectRatio not resolve my problem.
Is any option to get real image and resolution?

I checked a temporary file saved in application, picture has good resolution, as setted in camera option.
After load to ImageAssets, resolution is changing.

[code]
This place return bad res

[2020-03-10 08:55] misostack opened #241 "[Android][Android 9 - API 28][Photo Capture confirmed screen requires to click multiple times on OK button]"
Hello guys, the plugin works very well on IOS. But i got this issue.
After user take the photo, it requires to click multiple times on "OK" button to comeback to the app screen. This is bug or is there any ways to go through. Thank you guys.

This is my implementation based on the official doc.

[code]
Link Image : https://pasteboard.co/IYqbkLx.png

[2020-03-18 12:43] ZaKull commented on #240
resolution in screen ... change this..

[2020-03-21 22:11] luishdez87 commented on #105
I think i can help you guys @salamohamad , @warlog3 @rubenassink
import this:
`import * as ImageSourceModule from "tns-core-modules/image-source/";`

and implement this in a method:
`    ImageSourceModule.fromAsset(this.imageSrc).then(image => {
      let base64 = image.toBase64String('png');
      console.log(base64);
    })`

[2020-03-21 22:12] luishdez87 commented on #105
That Class is on "tns-core-modules/image-source/image-source"

[2020-03-24 18:25] rycks opened #242 "How to get a full (maximal) resolution picture from camera ?"
Hello,
how can i get a 12Mpix picture from camera ? all examples are for 300x300 ... what do i have to do to get a full size picture from my smartphone ?

Thanks

[2020-04-07 20:52] vytautas-pranskunas- commented on #26
Seems like this issue was fixed few years ago but i still cannot get image smaller.
mu options are:
`
options:  {
 width: 720,
 height: 1280,
 keepAspectRatio: false,
  saveToGallery: true
 }
`

but I am getting this sizeimage: 1890x3360

[2020-04-07 21:02] vytautas-pranskunas- commented on #26
It looks like it is fixed just device shows size not correct.
I checked that using util: utilsModule.layout.toDeviceIndependentPixels(imageAsset.options.width)
by followinf this issue: https://github.com/NativeScript/nativescript-camera/issues/101
and this link: https://docs.nativescript.org/core-concepts/utils#utils

[2020-04-14 14:25] tommag21 opened #243 "Crash opening camera on Huawei Mediapad T5"
### Which platform(s) does your issue occur on?
- Huawei Mediapad T5 (AGS2-L09), EMUI 8.0.0, Android 8.0.0

### Please, provide the following version numbers that your issue occurs with:

The NS-Vue demo of this plugin and this app:

- CLI: 6.4.1
- Cross-platform modules: 6.0.0, 6.5.1
- Runtime(s): 6.4.1, 6.5.0
- Plugin(s):
"dependencies": {
        "@nativescript/theme": "^2.2.1",
        "@nstud

[2020-04-17 10:28] jakubgondar commented on #225
This issue makes camera plugin unable to work under Android 10 (API 29+) because API 29 uses scoped storage. For making your application compatible with current version of plugin, you can do 2 things to fix this:

a) put `targetSdkVersion 28` into `App_Resources/Android/app.gradle` :
[code]

or:

b) Add `android:requestLegacyExternalStorage="true"` to `application` element in `App_Resources/Androi

[2020-04-19 23:49] the-gestalt commented on #225
@Gondy Thank you, that fixed the issue for me.

For anyone lurking here, my emulator was functioning fine, but my physical device would give this error right after confirming the photo was OK:

`Error: java.io.FileNotFoundException: /storage/emulated/0/DCIM/Camera/NSIMG_20200419_174631.jpg: open failed: ENOENT (No such file or directory)`

adding the targetSdkVersion 28 to my app.gradle resolved t

[2020-04-22 13:16] RGBvision commented on #243
Same issue on various Android devices (Android 6 - 9). One or two seconds after photo has been taken and appears on Image component App returns to start page.

[2020-04-22 14:18] tommag21 commented on #243
@RGBvision what NativeScript version are you using?

[2020-04-22 14:29] RGBvision commented on #243
@tommag21 tns-core-modules 6.5.1, tns-android 6.5.0

[2020-04-22 15:05] RGBvision commented on #243
I found that when you open the camera and don't take a photo, just press back button, the entire history of navigation is lost. Start page will be open. Looks like app restarting anyway.

[2020-04-22 15:29] tommag21 commented on #243
I am experiencing the same bug on the demo-vue app, plus another one which might be related.

The more photos I take, the slower the app gets, until it crashes. It takes about 4-5 snaps.

Logs:
[debug-demo.txt](https://github.com/NativeScript/nativescript-camera/files/4517074/debug-demo.txt)

From what I've seen the crash happens when the camera is opened, before the photo is taken.

[2020-04-22 15:36] tommag21 commented on #243
From what I've seen the crash happens when the camera is opened, before the photo is taken.

[2020-04-23 10:22] tommag21 commented on #243
Might be related to this:
[White screen, no crash, logged ClassNotFoundException OnUnhandledKeyEventListener](https://github.com/NativeScript/android-runtime/issues/1484)

[2020-04-27 10:38] tommag21 commented on #243
After further investigation I have concluded that it's a low memory issue. On some devices like the Huawei Mediapad T5, opening the camera causes the sistem to sometimes kill background apps, including the one launching the camera intent.
The taken photo is still saved at [these paths](https://github.com/NativeScript/nativescript-camera/blob/master/src/camera.android.ts#L54), so I edited the plugi

[2020-04-27 10:38] #243 closed, assigned to nobody

[2020-04-30 04:41] map7 commented on #239
You could use imageAssetURL

                takePicture({})
                    .then((imageAsset: any) => {
                        console.log("Taken picture: " + that.imageAssetURL(imageAsset))
                     });

[2020-05-20 10:13] nmandyam opened #244 "Not passing the options object to the camera crashes it in iOS"
### Make sure to check the demo app(s) for sample usage
Done.

### Make sure to check the existing issues in this repository
Checked.

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.
In 4.5.0 (NS 6.x) , invoking the camera without an options object brings up the cam

[2020-06-05 12:08] jakubgondar opened #245 "App crashes when saving photo on Android 10 devices"
### Which platform(s) does your issue occur on?
Android 10 (Android 9 and lower seems to work fine), devices that I have tested this issue:
- Samsung Galaxy M20 (SM-M205FN, Kernel: 4.4.177-17406009)
- Android 10 emulator (Pixel_3_API_29_Android_10_with_Play_Store)

### Please, provide the following version numbers that your issue occurs with:
- CLI: 6.5.0
- Cross-platform modules: 6.5.1
- Runtime(

[2020-06-05 13:31] aschurf commented on #245
I get a similar error in Xiaomi Mi9se on Android 10 QKQ, after the photo the application closes

[2020-06-05 13:54] octo888 commented on #245
Same on Pixel 3a and Samsung S20 (both android 10)

[2020-06-11 18:08] Geotracer commented on #245
I have the same issue with my recent app.
Even with the same type of phone, the app crashes when confirming the photo.
Mostly after the first install, the app crashes.
The other times it crashes randomly.

[2020-06-14 22:52] akshaysisodia commented on #245
I also have the same issue in my redmi k20 image didn't appears and in console it shows JS:  Error: cancelled.

[2020-06-14 23:02] NathanaelA commented on #245
You need to add the following key `android:requestLegacyExternalStorage="true"` if you are targetting API 29 or higher and you want to use the normal file api.
[code]

[2020-06-14 23:03] #245 closed, assigned to nobody

[2020-06-15 06:54] jakubgondar commented on #245
@NathanaelA thanks for response, but would you mind at least adding this note to the plugin home page README.md? TNS 6.5.0 has default target API 29 so apps built with this plugin **will by default crash** on Android 10.

[2020-06-15 20:29] akshaysisodia commented on #245
@NathanaelA Thank You So much it worked

[2020-06-24 09:46] ann1111 commented on #239
that.imageAssetURL not found it shows @map7

[2020-06-24 10:48] ann1111 commented on #239
ok done resolve we can get like this way console.log(imageAsset._android);

[2020-06-29 13:17] mpht commented on #234
Hey guys!
I have stumbled upon the same problem.

I also encountered something very similar **about a month ago**:
https://github.com/alexziskind1/nativescript-oauth2/issues/116

basically the problem is frame.topmost()
[code]

To get it working I just check if there are some parents

## Workaround
You can create the following patch for camera.ios.js and apply it using a hook. Please feel free to

[2020-07-31 07:43] jscti commented on #74
In my case, I take picture, get the image asset and upload it directly to a webservice. I used "saveToGallery : false" believing no image wouls be created on disk but here I found a ton of  NSIMG_*_*.jpg
Isn't it more a bug than a feature ?

[2020-08-15 07:20] mrzanirato commented on #234
The workaround is perfect! Thanks!

[2020-08-31 08:10] limux82 opened #248 "Upgrade to @nativescript/core 7"
Trying with @nativescript/core 7 (7.0.0-rc.57), version of this plugin 4.5.0 I see this error in compilation due to changes in namespace in @nativescript/core

ERROR in ../node_modules/nativescript-camera/camera.js
Module not found: Error: Can't resolve 'tns-core-modules/image-asset/image-asset' in '/node_modules/nativescript-camera'
 @ ../node_modules/nativescript-camera/camera.js 4:23-74
 @ ./ap

[2020-09-01 16:46] OPADA-Eng commented on #151
Any progress with this? @bradmartin

[2020-09-02 22:35] bradmartin commented on #151
:) @OPADA-Eng - long time ago, I thought I actually ended up making a PR for this, but it might have been on the `location` plugin to provide a similar option. It was fairly straight forward, just making sure the logic was sound was a bit of work to handle fallbacks.

This looks like what I recall working on https://github.com/NativeScript/nativescript-geolocation/blob/a8d9a1f0fe73def247796cf14cc5

[2020-09-03 06:01] OPADA-Eng commented on #151
Thanks, @bradmartin  for your reply,
Are you planning to do this in the near future?

[2020-09-04 14:10] martijnvanschie commented on #248
After some digging i found that you need to use another package.

[Marketplace](https://market.nativescript.org/plugins/@nativescript/camera/)
[NPM](https://www.npmjs.com/package/@nativescript/camera)

I used the command `npm i --save @nativescript/camera` to get the right package and after some small refactoring it now works again.

Changed
`import * as camera from "nativescript-camera";`

To
`im

[2020-09-04 22:06] limux82 commented on #248
Thanks I found it

[2020-09-08 12:16] donny08 commented on #74
@tsonevn Is it possible to store images in internal storage rather than external storage?

[2020-09-09 01:11] bradmartin commented on #151
Currently it's not on my radar. I'm doing other updates to various plugins to support NS 7 that was just released. I'd like to put this on the list eventually tho :) but no time frame for now.

[2020-09-09 03:42] VoBichTo commented on #239
Hi @ann1111 , I want to change path of imageAsset._android, How can I do it ? Please support me.

[2020-09-09 11:29] donny08 commented on #74
@tsonevn Any updates on my issue?

[2020-09-21 20:43] oneWaveAdrian commented on #248
@martijnvanschie How did you use the function call? My app won't work anymore even with the `@nativescript/camera` package after upgrading.

I get this error message back when firing the `takePicture()` method
`JS: error: Error: java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.res.XmlResourceParser android.content.pm.ProviderInfo.loadXmlMetaData(android.content.pm.

[2020-09-22 11:23] martijnvanschie commented on #248
Have not seen that issue. I do import the camera different and perform the premissions and actual capture seperate.

## Import
[code]

## Permissions
[code]
## Capture
[code]
Hope this helps a bit.

[2020-09-23 03:00] oneWaveAdrian commented on #248
Well except for the altered import statement this is not new code, it worked before untouched. So it has to correlate to NS7.. thanks @martijnvanschie I'll fiddle round with it a bit more, hopefully will find a solution to this...

[2020-09-23 04:28] oneWaveAdrian commented on #141
This is exactly what happens on NS7 with V5: https://github.com/NativeScript/nativescript-camera/issues/248#issuecomment-696364300

[2020-09-24 23:57] oneWaveAdrian commented on #248
Nobody knows why this happens? This seems to be a problem that happened in prior versions?

[2020-09-26 17:53] andreasteffanoni opened #250 "IOS app for NS 7 crashes after user confirm photo"
**Environment**
 "nativescript": "^7.0.8",
"@nativescript/core": "^7.0.7",
"@nativescript/ios": "7.0.0",
"@nativescript/camera": "^5.0.0",

In a plain JS app, when taking a picture, the iOS version of the app crashes with the message " NativeScriptError: TypeError: Cannot read property 'creationDate' of undefined". The crash happens after taking the photo, when the user confirms the picture. The a

[2020-09-28 09:43] boutier opened #251 "platforms/android missing in 5.0.0"
Using nativescript camera 5.0.0 leads to `java.lang.IllegalArgumentException: Couldn't find meta-data for provider with authority` because `platforms/android` is no more packaged.

By the way, I didn't find 5.0.0 sources. I guess you rush to make it compatible with NS-7, but I cannot even try to make a pull request. Please push them!

[code]

[code]

[2020-09-29 08:19] andreasteffanoni commented on #250
Still stuck with the issue. I had to bypass some code to make the plugin working. Here is my workaround.

[code]

This works.

[2020-09-29 08:39] boutier commented on #251
Fixed in 5.0.2, the project is now here: https://github.com/NativeScript/plugins

[2020-09-29 08:39] #251 closed, assigned to nobody

[2020-09-29 09:44] AnthonyLenglet opened #252 "Camera not opening on android 11"
### Which platform(s) does your issue occur on?
- Android
- 11
- emulator

### Please, provide the following version numbers that your issue occurs with:

- CLI: 7.0.8
- Cross-platform modules: 6.5.20
- Runtime(s): tns-android: 6.5.1
- Plugin(s):
[code]

### Please, tell us how to recreate the issue in as much detail as possible.
Whenever we try to take a picture, the camera never pops up, and no

[2020-10-07 02:30] fvtrx opened #253 "Nativescript Camera Front Facing (Android)"
Hi, just want to ask if there is any chance that I can force my cameraFacing to display front camera in Android? I tried to follow the exact methods in the documentation but still doesn't return the front camera that I wanted in Android devices.

Is there any workaround for this? I've attached the details of my issues below.

### Which platform(s) does your issue occur on?
- Android

### Please, p

[2020-10-07 02:31] fvtrx opened #254 "cameraFacing: "front" does not work in Android"
Hi, just want to ask if there is any chance that I can force my cameraFacing to display front camera in Android? I tried to follow the exact methods in the documentation but still doesn't return the front camera that I wanted in Android devices.

Is there any workaround for this? I've attached the details of my issues below.

### Which platform(s) does your issue occur on?
- Android

### Please, p

[2020-10-07 02:38] #253 closed, assigned to nobody

[2020-10-15 14:27] jcassidyav commented on #252
I am seeing the same thing, it does not work  for me unless I use nativescript@6.7.4 to build anything higher and I see this behavior.

[2020-10-16 09:24] jcassidyav commented on #252
For me it was down to tarketSDK, newer cli defaulting it to 30, changing it to 29 in settings.json and it now works.

[2020-10-22 18:24] kourtzaridisr88 commented on #252
Same issue here

[2020-10-23 04:34] alpha-nero1 commented on #227
Hi, I am also getting this issue but for me it is occuring when I try and call `takePicture()` from within one of the BottomNavigation tabs.

It appears that the UINavigationControllerImpl that is used for the TabContentItem is somehow detatched from the window hierarchy and so the modal for taking a picture does not show.

I meddled with some of the plugin code and found that when I replaced the

[2020-10-23 04:36] alpha-nero1 commented on #227
I would love to contribute, maybe add an option to just use the root view controller, for those of us that are trying to use this plugin inside of BottomNavigation, Please let me know what you think.

[2020-10-29 10:43] wontroba666 commented on #234
hello can you explain how to add this patch / hook ?

[2020-10-29 11:08] mpht commented on #234
1) add a patch in your project
for example ../projects/your_project_name/patches/camera.ios.patch

see code from my previous post (https://github.com/NativeScript/nativescript-camera/issues/234#issuecomment-651114330)

2) Apply the patch using hooks
create the following 2 hooks

hook 1
../projects/your_project_name/hooks/after-prepare/patch-camera.js

with this code
[code]

hook 2
../projects/your

[2020-10-29 11:31] wontroba666 commented on #234
@mpht you are unknown superhero thx

[2020-10-29 15:52] erkanarslan commented on #234
Thanks. I hope this is added to the library.

[2020-11-12 08:16] DanielDent commented on #252
I believe the issue is that the plugin is currently only compatible with API level 28. At API level 29, adding `android:requestLegacyExternalStorage="true"` to the app manifest is available as a workaround, but this option is no longer available at API level 30.

[2021-01-03 14:21] sdvlg opened #255 "ERROR in ../node_modules/nativescript-camera/camera.js"
hi I have a problem here, I want to solve this problem, every hour and meet tomorrow and still have the same problem, maybe some of you have the same problem with me, I use nativescript for vue

ERROR in ../node_modules/nativescript-camera/camera.js
Module not found: Error: Can't resolve 'tns-core-modules/application/application' in '/Users/shadow/app/algorithm-dt/node_modules/nativescript-camera'

[2021-01-07 14:02] vallemar commented on #255
you should install https://www.npmjs.com/package/@nativescript/camera for NS 7 or up

[2021-01-26 21:50] sivo1981 opened #256 "Upgrading to 5.0.3 error when saving picture"
After upgrading plugin to version 5.0.3, saving picture doesn't work anymore. It has to do something with dependency @nativescript/imagepicker which is included in this version.

This dependency was not included in previous versions.

[2021-02-02 15:33] wontroba666 commented on #234
unfortunately they didn't
on the NS 7 version it still hasn't been fixed ....
is there any chance for a path for the nativescript 7 version?

[2021-02-19 15:16] IhaveQs commented on #252
I am experiencing the same problem.

Phone: Google Pixel (3a &4XL)
Android version: 11
tns-android: 6.5.3
nativescript/core: 6.5.12
nativescript-camera: 4.5.0

This problem did not exist with Android 10 or with any other brand of phone (only Google Phones)

 - The suggestion to set the targetSDK to 28 or 29 did not help.
 - android:requestLegacyExternalStorage="true" is already part of out Android

[2021-03-03 15:56] lucasumberto commented on #227
I had the same problem calling takePicture in a random vue component( @alpha-nero1 solution solved the problem ), and opening it in a modal i had a different problem:

it don't throw error but the camera opens behind the modal. it seems to be related to the parent frame(component/view) of the camera, seems it's aways the root, would be nice if there is any options for we choose the parent frame fo

[2021-03-05 18:25] AlexBuitrago commented on #248
Must follow these instructions to use the camera:

[@nativescript/camera](https://github.com/NativeScript/plugins/blob/master/packages/camera/README.md)

[2021-03-06 14:09] BMwanza commented on #245
@NathanaelA's solution did not work for me.

My target API is set to 29, as it is now required by the Play Store, but I cannot get it work. App crashes when trying to take a picture

[2021-04-27 05:53] dudipsh commented on #60
@fpaaske
did you fix it?

[2021-06-16 05:26] itsmerockingagain commented on #252
Hi All, Can anyone provide a solution for this issue in android 11? seems like NS is not supporting latest OS android 11 on NS6

[2021-07-08 04:25] itsmerockingagain opened #259 "iOS 14 issue with camera, capture not returning image asset with path of captured file"
### Which platform(s) does your issue occur on?
- iOS
device iOS 14.3

tns version 6.8.0
tns ios version 6.5.4

"nativescript-camera": "^4.5.0",

### Please, tell us how to recreate the issue in as much detail as possible.
Describe the steps to reproduce it.

var options = { width: 300, height: 300, keepAspectRatio: false, saveToGallery: true };
camera.takePicture(options)
    .then(function (imag

[2021-07-08 09:44] wendt88 commented on #259
for iOS you have to manage the file by yourself:
[code]

this code creates a `jpg` of the ios image asset inside app's `imagepicker` folder to upload it with `@nativescript/background-http`.

[2021-07-09 11:07] itsmerockingagain commented on #259
@wendt88 wendt88  Can you please help me like where to write this code at which step please. camera capture is not returning image asset. If you can help me with some playground , then it will be very helpfull

[2021-07-09 11:12] itsmerockingagain commented on #239
@ann1111 how to get it for iOS, for iOS imageAsset._ios is empty

[2021-07-09 11:51] wendt88 commented on #259
in my example the variable `asset` is the result the `takePicture()` method, for android you can easily use `asset.android`, wich is the a string (filepath). `asset.ios` is a image asset and with my example you can get a filepath.

[code]

[2021-07-09 12:13] itsmerockingagain commented on #259
@wendt88 problem is asset.ios is empty string for me, i am using NS6 and nativescript-camera plugin

[2021-07-31 16:03] itsmerockingagain commented on #259
@wendt88 It worked,Thanks so much.

[2021-07-31 16:03] #259 closed, assigned to nobody

[2021-10-11 11:57] AdrianoOP commented on #252
Same thing here... Any update?

[2021-11-10 09:29] vicmasa commented on #252
Same thing here... Any update?

[2021-11-10 10:40] AnthonyLenglet commented on #252
I haven't personally touched the project in a bit, but we're not getting any issues on our end anymore since having updated everything to `"@nativescript/camera": "^5.0.6"` and `"@nativescript/core": "~8.1.1"`

since this no longer seems to be a problem on the newer version, I will close this issue

[2021-11-10 10:40] #252 closed, assigned to nobody

[2022-11-28 19:10] MrCalamitus commented on #105
For NativeScript8 I can resolve with this

[code]

where *imageAsset* is a native image

I found that *new ImageSource(); source.fromAsset(imageAsset)* was depricated